/*
Theme Name: carspot
Description: Carspot classified, responsive, multi-purpose, corporate, business theme. It comes with 11 home variations with all necessary pages. Carspot theme filled with extra functionality of modern web technologies. The clean design with latest version of Bootstrap framework makes its fit for anywhere.
Author: Scripts Bundle
Theme URI: http://carspot.scriptsbundle.com/demos/
Author URI: http://scriptsbundle.com/
Version: 2.3.9
License: Themeforest Split Licence
License URI: https://themeforest.net/user/scriptsbundle/
Text Domain: carspot
Tags: carspot, sticky-post, translation-ready, delaership theme, automotive wordpress theme, classified website
*/

.dropzone a.dz-remove,
.dropzone-previews a.dz-remove {
    padding: 0 !important;
}

    
        .car {
    position: absolute;
    bottom: -150px;
    left: 51px;
    max-width: 820px;
}
<img src="wp-content/img/hector-exterior-right-front-three-quarter-166303-removebg-preview.png" class="hero-car wow slideInLeft img-responsive" data-wow-delay="0ms" data-wow-duration="3000ms" alt="Image not found" style="
    left: revert;
">