* {
    font-family: Poppins;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

/* carspot-top-bar-start */
.carspot-top-bar {
    background-color: #000;
    z-index: 200;
    position: relative;
}

.carspot-top-bar .carspot-top-bar-container {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.carspot-top-bar .carspot-top-bar-container .left-cont {
    display: flex;
    align-items: center;
}

.carspot-top-bar .left-cont .choose-location {
    position: relative;
}

.carspot-top-bar .left-cont .choose-location select {
    height: 70px;
    margin-left: 10px;
    color: #ffff;
    border: none;
    background-color: transparent;
    padding: 10px 60px 10px 60px;
    font-size: 12px;
}

.carspot-top-bar .left-cont .choose-location .iconify {
    position: absolute;
    top: 28%;
    left: 30px;
    width: 30px;
    height: 30px;
    color: #ffff;
    border-right: 1px solid #909090;
    padding-right: 10px;
}

.carspot-top-bar .right-cont .carspot-menu ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    height: 70px;
}

.carspot-top-bar .right-cont .carspot-menu ul li {
    padding: 0px 10px;
}

.carspot-top-bar .right-cont .carspot-menu ul li:first-child {
    padding-left: 0;
}

.carspot-top-bar .right-cont .carspot-menu ul li:last-child {
    padding-right: 0;
}

.carspot-top-bar .right-cont .carspot-menu ul li.signin {
    padding: 26px 10px 26px 20px;
    margin-left: 10px;
    border-left: 1px solid #3c3c3c;
}

.carspot-top-bar .right-cont .carspot-menu ul li.signup {
    border-left: 1px solid #3c3c3c;
}

.carspot-top-bar .right-cont .carspot-menu ul li.sell-button a {
    padding: 7px 21px;
    background-color: #e52d27;
    color: #ffff;
    font-size: 16px;
    border-radius: 5px;
}

.carspot-top-bar .right-cont .carspot-menu ul li a {
    color: #bdbdbd;
}

.carspot-top-bar .right-cont .carspot-menu ul li .links {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.carspot-top-bar .right-cont .carspot-menu ul li .links .iconify {
    width: 20px;
    height: 20px;
}

.carspot-top-bar .right-cont .carspot-menu ul li .links span {
    font-size: 12px;
}

/* carspot-top-bar-end */

/* sb-header.sb-carspot-start */
.sb-carspot.sb-header {
    border-bottom: 1px solid #e0e8f1;
    z-index: 100;
    position: relative;
}

.sb-carspot.sb-header.sticky {
    margin-top: -120px !important;
    position: fixed;
    background-color: #fff;
}

.sb-carspot.sb-header.sticky:before{
    content: "";
}

.sb-header.sb-carspot .sb-header-container {
    height: 50px;
}

.sb-header.sb-carspot .header-shadow-wrapper {
    display: none;
}

.sb-header.sb-carspot .sb-menu {
    float: left;
    height: 50px;
    width: 100%;
}

.sb-header.sb-carspot .sb-menu > ul > li > a {
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    padding: 0 9px;
    text-transform: capitalize;
}

.sb-header.sb-carspot .sb-menu ul li ul{
    padding: 0;
}

.sb-header.sb-carspot .sb-menu ul li ul li ul.drop-down-multilevel{
    top: -2.5px;
}

.sb-header.sb-carspot .sb-menu ul li ul li a {
    border-bottom: 1px solid #f3f3f3;
    padding: 15px 35px !important;
}

.sb-header.sb-carspot .sb-menu ul li ul li a:before{
    top: 24px;
    left: 20px;
    background: #e52d27;
}

.sb-header.sb-carspot .sb-menu ul li ul li a i{
    float: right;
    margin-top: 5px;
}

.sb-header.sb-carspot .sb-menu > ul > li:first-child a {
    padding-right: 0;
}

.sb-header.sb-carspot .sb-menu ul li.current-menu > a,
.sb-header.sb-carspot .sb-menu ul li:hover > a {
    color: #e52d27;
}

.sb-header.sb-carspot .sb-menu ul li.dropdown_menu > a > span::before {
    border-width: 1px 1px 0 0;
    border-color: #000;
}

.sb-header.sb-carspot .sb-menu > ul > li.signin,
.sb-header.sb-carspot .sb-menu > ul > li.signup {
    float: right;
    padding-left: 10px;
    border-left: 1px solid #e8e8e8;
    margin-left: 15px;
}

.sb-menu.submenu-top-border li > ul {
    border-top: 3px solid #e52d27;
}

.sb-header.sb-carspot .sb-menu > ul > li.signin .location-box,
.sb-header.sb-carspot .sb-menu > ul > li.signup .call-box {
    display: flex;
    align-items: center;
    height: 50px;
}

.sb-header.sb-carspot .sb-menu > ul > li.signin .location-box .left-icon,
.sb-header.sb-carspot .sb-menu > ul > li.signup .call-box .left-icon {
    font-size: 20px;
    color: #e52d27;
    margin-right: 5px;
}

.sb-header.sb-carspot .sb-menu > ul > li.signin .location-box .right-meta p,
.sb-header.sb-carspot .sb-menu > ul > li.signup .call-box .right-meta p {
    font-size: 10px;
    color: #e52d27;
    line-height: 15px;
}

.sb-header.sb-carspot .sb-menu > ul > li.signin .location-box .right-meta h6,
.sb-header.sb-carspot .sb-menu > ul > li.signup .call-box .right-meta h6 {
    font-size: 11px;
    color: #626262;
}

/* sb-header.sb-carspot-end */
/* hero-top-banner-start */
.hero-top-banner {
    position: relative;
    min-height: 409px;
}

.hero-top-banner .hero-top-banner-cont {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}

.hero-top-banner .banner-carousel .owl-nav {
    display: none;
}

.hero-top-banner .banner-meta {
    margin-top: 170px;
}

.hero-top-banner .banner-meta .video-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.hero-top-banner .banner-meta .video-title span {
    padding: 5px;
    padding-bottom: 0;
    border-radius: 50%;
    border: 1px solid #e52d27;
}

.hero-top-banner .banner-meta .video-title .iconify {
    padding: 5px;
    background-color: #e52d27;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    height: 30px;
    width: 30px;
    text-align: center;
}

.hero-top-banner .banner-meta .video-title h6 {
    font-size: 12px;
    margin-left: 10px;
    color: #fff;
    font-weight: 600;
}

.hero-top-banner .banner-meta p {
    font-size: 16px;
    color: #dbdad9;
}

.hero-top-banner .banner-meta h2 {
    font-size: 28px;
    width: 480px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 25px;
}

.hero-top-banner .banner-meta a.read-more {
    padding: 10px 30px;
    background-color: #e52d27;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
}

/* hero-top-banner-end */

/* search-car-brands-start */
.search-car-brands {
    margin-top: 30px;
}

.search-car-brands .nav-tabs .nav-item {
    width: 25%;
}

.search-car-brands .nav-tabs .nav-item .nav-link {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;
    padding: 10px 5px;
    border: 1px solid #999999;
    border-bottom: none;
    border-right: none;
    border-radius: 0px;
    height: 70px;
    transition: 0.5s ease-in-out;
}

.search-car-brands .nav-tabs .nav-item .nav-link .iconify {
    width: 50px;
    height: 30px;
    color: #fff;
}

.search-car-brands .nav-tabs .nav-item .nav-link:hover {
    margin-top: -10px;
    height: 80px;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    background-color: #000000;
}

.search-car-brands .nav-tabs .nav-item .nav-link::before {
    content: "";
    border-bottom: 3px solid #e52d27;
    width: 0%;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.search-car-brands .nav-tabs .nav-item .nav-link::after {
    content: "";
    border-bottom: 3px solid #e52d27;
    width: 0%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.search-car-brands .nav-tabs .nav-item .nav-link:hover::after,
.search-car-brands .nav-tabs .nav-item .nav-link:hover::before {
    width: 100%;
}

.search-car-brands .nav-tabs .nav-item:first-child .nav-link {
    border-top-left-radius: 5px !important;
}

.search-car-brands .nav-tabs .nav-item:last-child .nav-link {
    border-top-right-radius: 5px !important;
}

.search-car-brands .nav-tabs .nav-item:last-child .nav-link {
    border-right: 1px solid #999999;
}

.search-car-brands .nav-tabs .nav-item .nav-link i {
    color: #fff;
}

.search-car-brands .nav-tabs .nav-item .nav-link span {
    font-size: 12px;
    color: #fff;
}

.search-car-brands .search-content {
    padding: 20px 25px;
    box-shadow: 0px 16px 30px 4px rgba(179, 188, 211, 0.273492);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
}

.search-car-brands .search-car-option {
    margin-top: -323px;
    position: relative;
    z-index: 9;
}

.search-car-brands .search-content .srh-heading {
    display: flex;
    justify-content: space-between;
}

.search-car-brands .search-content .srh-heading h4,
.search-car-brands .search-content .slct-optn h4,
.search-car-brands .search-content h4 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}

.search-car-brands .search-content .srh-heading span {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #4db507;
}

.search-car-brands .search-content .srh-heading span .iconify {
    margin-right: 5px;
}

.search-car-brands .search-content input,
.search-car-brands .search-content .slct-optn select {
    width: 100%;
    background-color: #fbfdff;
    padding: 15px 25px;
    border: 1px solid #e0e8f1;
    color: #000;
    border-radius: 5px;
    font-size: 14px;
}

.search-car-brands .search-content input::placeholder {
    color: #000;
}

.search-car-brands .search-content .irs-from,
.search-car-brands .search-content .irs-to,
.search-car-brands .search-content .irs-grid {
    display: none;
}

.search-car-brands .search-content .irs--flat .irs-line {
    height: 5px;
    top: 10px;
}

.search-car-brands .search-content .irs--flat .irs-bar {
    background-color: #e52d27;
    height: 5px;
    top: 10px;
}

.search-car-brands .search-content .irs--flat .irs-handle > i:first-child {
    background-color: #ffff;
    top: 5px;
    left: 33%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.search-car-brands .search-content .irs--flat .irs-handle {
    width: 18px;
    height: 18px;
    background-color: #e52d27;
    border-radius: 50%;
    top: 3px;
}

.search-car-brands .search-content .irs--flat.irs-with-grid,
.search-car-brands .search-content .irs {
    height: 35px;
}

.search-car-brands .search-content .irs--flat .irs-min,
.search-car-brands .search-content .irs--flat .irs-max {
    top: unset;
    bottom: -39px;
    padding: 10px 25px;
    background-color: #fbfdff;
    border: 1px solid #e0e8f1;
    color: #000;
}

.search-car-brands .search-content .irs--flat .irs-min {
    left: unset;
    right: 110px;
}

.search-car-brands .search-content .price-range-txt {
    position: relative;
}

.search-car-brands .search-content .price-range-txt p {
    font-size: 14px;
    color: #000;
    margin-top: 10px;
}

.search-car-brands .search-content .price-range-txt span {
    position: absolute;
    top: 9px;
    right: 91px;
    height: 3px;
    width: 10px;
    background-color: #000;
}

.search-car-brands .botm-btn {
    margin-top: 30px;
    display: flex;
}

.search-car-brands .botm-btn .m-option {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eff3f8;
    color: #000;
    font-size: 14px;
    padding: 10px 17px;
    margin-right: 10px;
}

.search-car-brands .botm-btn .m-option .iconify {
    font-size: 20px;
    color: #e52d27;
    margin-right: 5px;
}

.search-car-brands .botm-btn .srh-now {
    font-size: 14px;
    background-color: #e52d27;
    color: #ffff;
    display: block;
    padding: 10px 79px;
    line-height: 30px;
}

.search-car-brands .srh-car-types .nav-pills .nav-link {
    border-radius: 0;
}

.search-car-brands .srh-car-types .nav-pills .nav-item:first-child .nav-link {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search-car-brands .srh-car-types .nav-pills .nav-item:last-child .nav-link {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search-car-brands .srh-car-types .nav-pills .nav-link {
    background-color: #fbfdff;
    color: #000;
    padding: 10px 12px;
    font-size: 12px;
    border: 1px solid #e0e8f1;
}

.search-car-brands .srh-car-types .nav-pills .nav-link.active {
    background-color: #e52d27;
    color: #ffff;
    font-size: 12px;
    padding: 10px 12px;
    border: 1px solid #e52d27;
}

.search-car-brands .srh-car-types .car-type-owl {
    position: relative;
}

.search-car-brands .srh-car-types .car-type-owl .car-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.search-car-brands .srh-car-types .car-type-owl .car-type img {
    margin-bottom: 10px;
    width: 120px;
}

.search-car-brands .srh-car-types .car-type-owl .car-type p {
    font-size: 13px;
    color: #000;
}

.search-car-brands .car-type-owl.owl-carousel .owl-nav {
    display: block;
    position: absolute;
    top: -51px;
    right: 30px;
}


.search-car-brands .srh-car-types .car-brand-owl {
    position: relative;
}

.search-car-brands .srh-car-types .car-brand-owl .car-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.search-car-brands .srh-car-types .car-brand-owl .car-type img {
    margin-bottom: 10px;
    width: 120px;
    height: 50px;
}

.search-car-brands .srh-car-types .car-brand-owl .car-type p {
    font-size: 13px;
    color: #000;
}

.search-car-brands .car-brand-owl.owl-carousel .owl-nav {
    display: block;
    position: absolute;
    top: -65px;
    right: 30px;
}

.owl-carousel.car-arrow-owl .owl-nav button.owl-prev,
.owl-carousel.car-arrow-owl .owl-nav button.owl-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
    position: relative;
    transition: 0.5s ease-in-out;
}

.owl-carousel.car-arrow-owl .owl-nav button.owl-prev,
.owl-carousel.car-arrow-owl .owl-nav button.owl-next:hover {
    background-color: #e52d27;
    color: #fff;
    border: 1px solid #e52d27;
}

.owl-carousel.car-arrow-owl .owl-nav button.owl-next,
.owl-carousel.car-arrow-owl .owl-nav button.owl-prev:hover {
    background-color: #fbfdff;
    color: #000;
    border: 1px solid #e4ebf3;
}

.owl-carousel.car-arrow-owl .owl-nav button.owl-prev span,
.owl-carousel.car-arrow-owl .owl-nav button.owl-next span {
    font-size: 20px;
    position: absolute;
    top: -2px;
    left: 12px;
}

/* search-car-brands-end */

/* featured-offer-start */
.featured-offer {
    margin-top: 30px;
}

.top-heading h3 {
    font-size: 26px;
    font-weight: 600;
    color: #000;
    position: relative;
    padding-bottom: 10px;
}

.top-heading h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid #000;
    width: 70px;
    height: 1px;
}

.top-heading h3::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    border: 1px solid #000;
    width: 50px;
    height: 1px;
}

.top-heading h3 span {
    color: #e52d27;
}

.featured-offer .ftd-card {
    margin-top: 30px;
}

.featured-offer .ftd-card .card-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.featured-offer .ftd-card .card-img img {
    width: 100% !important;
    height: 189px;
}
.featured-offer .featured-cars-owl  .ftd-card .card-img img {
    width: 277px !important;
    height: 189px;
}

.featured-offer .ftd-card .card-img img {
    width: 100%;
}

.featured-offer .ftd-card .card-img span {
    position: absolute;
    top: -25px;
    left: -25px;
    height: 50px;
    width: 50px;
    background-color: #e52d27;
    transform: rotate(45deg);
}

.featured-offer .ftd-card .card-img .iconify {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 12px;
    color: #fff;
}

.featured-offer .ftd-card .card-meta {
    border: 1px solid #ecf1fd;
    border-top: none;
    padding: 15px 20px;
    position: relative;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffff;
}

.featured-offer .ftd-card .card-meta .prf-back {
    position: absolute;
    top: -24px;
    right: 10px;
    width: 80px;
}

.featured-offer .ftd-card .card-meta .prf {
    position: absolute;
    top: -26px;
    right: 28px;
    width: 44px;
    border-radius: 50%;
    margin-top: 5px;
}

.featured-offer .ftd-card .card-meta h6 {
    font-size: 15px;
    color: #e52d27;
    margin-bottom: 5px;
}

.featured-offer .ftd-card .card-meta h6 span {
    color: #999999;
}

.featured-offer .ftd-card .card-meta h4 {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    margin-bottom: 5px;
}

.featured-offer .ftd-card .card-meta .location {
    font-size: 12px;
    color: #999999;
}

.featured-offer .ftd-card .card-meta .location .iconify {
    color: #e52d27;
    font-size: 16px;
}

.featured-offer .featured-cars-owl.owl-carousel {
    position: relative;
}

.featured-offer .featured-cars-owl.owl-carousel .owl-nav {
    display: block;
    position: absolute;
    top: -130px;
    right: 0px;
    z-index: 200;
}

/* featured-offer-end */

/* car-display-banner-start */
.car-display-banner {
    margin-top: 30px;
}

.car-display-banner .right-cont img {
    max-width: 100%;
}

.car-display-banner .left-cont img,
.car-display-banner .right-cont img {
    width: 100%;
}

/* car-display-banner-end */

/* explore-cars-cities-start */
.explore-cars-cities {
    margin-top: 30px;
}

.explore-cars-cities .explore-city-carousel {
    margin-top: 35px;
}

.explore-cars-cities .explore-city-carousel .card {
    position: relative;
    border: none;
    border-radius: 8px;
}

.explore-cars-cities .explore-city-carousel .card img {
    height: 250px;
}

.explore-cars-cities .explore-city-carousel .card .botm-meta {
    position: absolute;
    bottom: 15px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    margin-left: 15px;
    margin-right: 15px;
    width: 88%;
}

.explore-cars-cities .explore-city-carousel .card .botm-meta .city-name {
    padding: 10px 15px;
    background-color: #393d41;
    color: #ffff;
    width: 70%;
    border: 2px solid #5d5d5d;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.explore-cars-cities .card .botm-meta .city-name p {
    font-size: 14px;
}

.explore-cars-cities .card .botm-meta .city-name span {
    font-size: 12px;
    color: #b5b5b6;
}

.explore-cars-cities .explore-city-carousel .card .botm-meta .arrow {
    width: 30%;
}

.explore-cars-cities .explore-city-carousel .card .botm-meta .arrow .iconify {
    font-size: 58px;
    color: #000;
    padding: 0 15px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.5s ease-in-out;
}

.explore-cars-cities .explore-city-carousel .card .botm-meta .arrow .iconify:hover {
    background-color: #e52d27;
    color: #ffff;
}

.explore-cars-cities .explore-city-carousel .owl-nav {
    display: block;
    position: absolute;
    top: -85px;
    right: 0px;
}

.explore-cars-cities .used-cars {
    margin-top: 30px;
    position: relative;
}

.explore-cars-cities .used-cars .position-tab {
    position: absolute;
    top: 4px;
    right: 0;
}

.explore-cars-cities .used-cars .tab-content {
    margin-top: 10px;
}

.explore-cars-cities .used-cars .cars-ads {
    display: flex;
    align-items: center;
    border: 1px solid #ecf1fd;
    border-radius: 5px;
    margin-top: 25px;
}

.explore-cars-cities .used-cars .cars-ads .left-cont {
    padding: 20px 15px;
    background-color: #fbfdff;
    border-right: 1px solid #ecf1fd;
    /*width: 93px;*/
    /*height: 77px;*/
    display: flex;
    justify-content: center;
}

.explore-cars-cities .used-cars .cars-ads .left-cont img {
    width: 100%;
    height: 37px;
}

.explore-cars-cities .used-cars .cars-ads .right-cont {
    padding: 12px;
}

.explore-cars-cities .used-cars .cars-ads .right-cont h5 {
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
}

.explore-cars-cities .used-cars .cars-ads .right-cont span {
    font-size: 10px;
    color: #000;
    background-color: #fbfdff;
    padding: 2px 10px;
    border: 1px solid #eff3fd;
    border-radius: 5px;
}

.explore-cars-cities .recent-cars {
    border: 1px solid #e0e8f1;
    border-radius: 5px;
}

.explore-cars-cities .recent-cars .cars-title {
    padding: 20px 20px 30px;
    background-color: #fbfdff;
    border-bottom: 1px solid #e0e8f1;
    border-radius: 5px;
}

.explore-cars-cities .recent-cars .cars-title .top-heading h3 {
    font-size: 20px;
}

.explore-cars-cities .recent-cars .recent-cars-list {
    padding: 16px;
    height: 532px;
    width: 97%;
}

.explore-cars-cities .recent-cars-list .list-card {
    display: flex;
    border: 1px solid #f6f8fe;
    border-radius: 5px;
    margin-bottom: 15px;
}

.explore-cars-cities .recent-cars-list .list-card:last-child {
    margin-bottom: 0px;
}

.explore-cars-cities .recent-cars-list .list-card .cont-right {
    padding: 12px 0px 12px 12px;
}

.explore-cars-cities .recent-cars-list .list-card .cont-right p {
    font-size: 13px;
    color: #999999;
}

.explore-cars-cities .recent-cars-list .list-card .cont-right p span {
    color: #e52d27;
}

.explore-cars-cities .recent-cars-list .list-card .cont-right h5 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.explore-cars-cities .recent-cars-list .list-card .cont-right .location .iconify {
    color: #e52d27;
    font-size: 16px;
}

.explore-cars-cities .recent-cars-list .list-card .cont-right .location {
    color: #b3b3b3;
    font-size: 10px;
    margin-bottom: 0;
}

.explore-cars-cities .scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: #e52d27 #F1F1F1;
    scrollbar-width: thin;
}

/* explore-cars-cities-end */
.used-cars-sales .used-cars-list .posts-masonry,
.arspot-search-filter .used-cars-list .posts-masonry{
    position: relative !important;
    overflow: hidden;
}
/* used-cars-sales-start */
.used-cars-sales {
    margin-top: 30px;
}

.used-cars-sales .top-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.used-cars-sales .top-heading .btn {
    background-color: #e52d27;
    padding: 7px 21px;
    font-size: 12px;
    color: #fff;
}

/* used-cars-sales-end */

/* car-comparison-start */
.car-comparison {
    margin-top: 30px;
    padding: 30px 0 40px;
}

.car-comparison .heading-content p {
    margin-top: 20px;
    width: 440px;
}

.car-comparison .heading-content .top-heading {
    position: relative;
}

.car-comparison .heading-content .top-heading .btn {
    position: absolute;
    right: 80px;
    top: 36px;
}

.car-comparison .comparison-owl {
    margin-top: 30px;
}

.car-comparison .comparison-card {
    padding: 25px 20px;
    text-align: center;
    background-color: #ffff;
    border: 1px solid #e0e8f1;
    border-radius: 5px;
    position: relative;
}

.car-comparison .comparison-card img {
    width: 100%;
    height: 177px;
}

.car-comparison .comparison-card h5 {
    color: #232323;
    font-size: 16px;
    margin-bottom: 3px;
    line-height: 30px;
    transition: 0.5s ease-in-out;
}

.car-comparison .comparison-card h5:hover {
    color: #e52d27;
}

.car-comparison .comparison-card .rating {
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-comparison .comparison-card .rating .iconify {
    color: #ffc513;
    font-size: 18px;
}

.car-comparison .comparison-card .rating span {
    color: #232323;
    margin-left: 5px;
}

.car-comparison .comparison-owl .owl-nav {
    display: block;
    position: absolute;
    top: -148px;
    right: 0px;
}

.car-comparison .comparison-card .vs {
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    background-color: #919191;
    color: #ffff;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 6px;
    text-align: center;
}

/* car-comparison-end */

/* top-cars-categories-start */
.top-cars-categories {
    margin: 30px 0 50px;
}

.top-cars-categories .top-heading p {
    margin-top: 15px;
}

.top-cars-categories .select-any-car {
    margin-top: 40px;
}

.top-cars-categories .select-any-car .col-lg-3:first-child .choose-car {
    padding-left: 0;
    border-left: none;
}

.top-cars-categories .select-any-car .choose-car {
    padding: 10px 25px 10px;
    border-left: 1px solid #f6f6f6;
}

.top-cars-categories .select-any-car .choose-car h4 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
}

.top-cars-categories .select-any-car .choose-car ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.top-cars-categories .select-any-car .choose-car ul li {
    margin-bottom: 10px;
}

.top-cars-categories .select-any-car .choose-car ul li:last-child {
    margin-bottom: 0;
}

.top-cars-categories .select-any-car .choose-car ul li a {
    color: #888888;
    transition: 0.5s ease-in-out;
}

.top-cars-categories .select-any-car .choose-car ul li a:hover {
    color: #e52d27;
}

/* top-cars-categories-end */

/* carspot-footer-start */
.carspot-footer {
    padding: 70px 0 0 0;
    background-image: url(../images/layer-1164.html);
    background-position: center;
    background-size: cover;
}

.carspot-footer .ftr-frst-col p {
    margin: 20px 0;
    line-height: 30px;
    font-size: 15px;
    color: #ffff;
    width: 365px;
}

.carspot-footer .ftr-frst-col .social-icon .iconify {
    font-size: 22px;
    color: #ffff;
    margin-right: 8px;
}

.carspot-footer .quick-links h4,
.carspot-footer .get-our-apps h4 {
    font-size: 24px;
    color: #ffff;
}

.carspot-footer .quick-links ul {
    margin-top: 20px;
}

.carspot-footer .quick-links-2 ul {
    margin-top: 50px;
}

.carspot-footer .quick-links ul li {
    margin-bottom: 10px;
}

.carspot-footer .quick-links ul li a {
    color: #ffff;
    font-size: 13px;
}

.carspot-footer .get-our-apps .app-btn a {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    background-color: #2d2d27;
    margin-top: 25px;
    border: 1px solid #50514d;
    border-radius: 5px;
    width: 176px;
}

.carspot-footer .get-our-apps .app-btn .left-cont {
    margin-right: 10px;
}

.carspot-footer .get-our-apps .app-btn .left-cont .iconify {
    font-size: 32px;
    color: #ffff;
}

.carspot-footer .get-our-apps .app-btn .right-cont p {
    font-size: 12px;
    color: #ffff;
}

.carspot-footer .get-our-apps .app-btn .right-cont h5 {
    font-size: 16px;
    color: #ffff;
}

.carspot-footer .footer-botm {
    text-align: center;
    color: #ffff;
    font-size: 14px;
    padding: 15px 0;
    margin-top: 50px;
    border-top: 1px solid #4e4e4e;
}

.carspot-footer .footer-botm span {
    color: #e52d27;
}

/* carspot-footer-end */

/* carspot-search-filter-start */
.carspot-search-filter {
    background-color: #fbfdff;
    padding: 30px 0;
}

.carspot-search-filter.featured-offer {
    margin-top: 0;
}

.carspot-search-filter .filter-switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.carspot-search-filter .filter-switcher .left-cont {
    width: 100px;
    transition: 0.5s ease-in-out;
}

.carspot-search-filter .filter-switcher .left-cont .filter-btn {
    background-color: #e52d27;
    color: #ffff;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 25px;
    transition: 0.5s ease-in-out;
}

.carspot-search-filter .filter-switcher .left-cont .filter-btn .iconify {
    font-size: 28px;
    margin-right: 5px;
}

.carspot-search-filter .filter-switcher .right-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    height: 82px;
    background-color: #fff;
    padding: 30px 20px;
    border: 1px solid #e0e8f1;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    width: calc(100% - 100px);
}

.carspot-search-filter .filter-switcher .right-cont .right-meta {
    display: flex;
    align-items: center;
}

.carspot-search-filter .filter-switcher .right-cont .left-meta h5 {
    font-size: 18px;
    color: #000;
}

.carspot-search-filter .filter-switcher .right-cont .left-meta h5 span {
    color: #e52d27;
}

.carspot-search-filter .filter-switcher .right-cont .right-meta .refresh {
    font-size: 14px;
    color: #48b300;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.carspot-search-filter .right-cont .right-meta .refresh .iconify {
    margin-right: 3px;
}

.carspot-search-filter .filter-switcher .right-cont .right-meta .sort {
    display: flex;
    align-items: center;
    border: 1px solid #e0e8f1;
    border-radius: 5px;
}

.carspot-search-filter .right-cont .right-meta .sort .txt {
    padding: 10px;
    color: #000;
    border-right: 1px solid #e0e8f1;
    border-radius: 2px;
}

.carspot-search-filter .right-cont .select2-container {
    width: 200px !important;
}

.carspot-search-filter .right-cont .select2-container--default .select2-selection--single {
    border: none;
    background-color: #fbfdff;
    height: 41px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.carspot-search-filter .right-cont .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
    right: 7px;
}

.carspot-search-filter .top-heading {
    position: relative;
    width: 100%;
    transition: 0.5s ease-in-out;
}

.carspot-search-filter .used-cars-list {
    width: 100%;
    position: relative;
    transition: 0.5s ease-in-out;
}

.carspot-search-filter .used-cars-list .pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.carspot-search-filter .used-cars-list .pagination .page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.carspot-search-filter .used-cars-list .pagination .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.carspot-search-filter .used-cars-list .pagination .page-item a {
    margin-left: 10px;
    color: #997788;
    border: 1px solid #d1d1d1;
    transition: 0.5s ease-in-out;
}

.carspot-search-filter .used-cars-list .pagination .page-item a:hover {
    background-color: #e52d27;
    border: 1px solid #b31217;
    color: #ffff;
}

.toggle-filter {
    width: 74.5% !important;
}

.toggle-top-heading {
    width: 74.5% !important;
    float: right !important;
}

.toggle-used-cars-list {
    width: 74.5% !important;
    float: right !important;
}

.carspot-search-filter .left-side-bar {
    display: none;
    transition: 0.5s ease-in-out;
}

.carspot-search-filter .side-bar-used-cars-list {
    margin-top: 30px;
}

.carspot-search-filter .side-bar {
    background-color: #ffff;
    padding: 35px 20px 0 20px;
    border-right: 1px solid #e0e8f1;
    margin-top: -30px;
    width: 0px;
    float: left;
    display: none;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.carspot-search-filter .side-bar-used-cars-list .used-cars-grid-list {
    width: calc(100% - 0px);
    float: right;
    transition: 0.5s ease-in-out;
}

.carspot-search-filter .side-bar .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.carspot-search-filter .side-bar .heading .heading-left-cont h4 {
    font-size: 22px;
    color: #000;
}

.carspot-search-filter .side-bar .heading .heading-left-cont p {
    font-size: 14px;
    color: #e52d27;
}

.carspot-search-filter .side-bar .heading .heading-right-cont .iconify {
    font-size: 40px;
    padding: 10px;
    color: #000;
    background-color: #fbfdff;
    border: 1px solid #e5ecf3;
    border-radius: 50%;
}

.carspot-search-filter .side-bar .accordion-item {
    border: none;
    border-bottom: 1px solid #f2f2f2;
}

.carspot-search-filter .side-bar .accordion-item:last-child {
    border-bottom: none;
}

.carspot-search-filter .side-bar .accordion-button {
    font-weight: 500;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
}

.carspot-search-filter .side-bar .accordion-button:focus {
    box-shadow: none;
}

.carspot-search-filter .side-bar .accordion-button:not(.collapsed) {
    color: #000;
    background-color: #ffff;
    box-shadow: none;
}

.carspot-search-filter .side-bar .accordion-body {
    padding: 0 0 20px 0;
}

.carspot-search-filter .side-bar .accordion-button .iconify {
    color: #f1f1f1;
    font-size: 19px;
}

.carspot-search-filter .side-bar .accordion-button::after {
    display: none;

}

.carspot-search-filter .side-bar .accordion-item .search-by {
    position: relative;
}

.carspot-search-filter .side-bar .accordion-item .search-by input {
    background-color: #f9f9f9;
    border: 1px solid #eef1f3;
    border-radius: 0;
    height: 50px;
}

.carspot-search-filter .right-cont .sort .freelance-category {
    margin-bottom: 0;
}

.carspot-search-filter .selection .select2-selection__arrow {
    top: -5px !important;
}

.carspot-search-filter .side-bar .accordion-item .search-by .iconify {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 22px;
    color: #b7bbc2;
}

.carspot-search-filter .side-bar .accordion-item .select-two .select2-container {
    width: 100% !important;
}

.carspot-search-filter .select-two .select2-container--default .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
}

.carspot-search-filter .select-two .select2-container--default .select2-selection--single .select2-selection__arrow {
    border-left: 1px solid #aaa;
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
}

.carspot-search-filter .side-bar .accordion-item .search-btn {
    background-color: #e52d27;
    color: #ffff;
    margin-top: 15px;
    padding: 8px 16px;
    font-size: 12px;
}

.carspot-search-filter .side-bar .accordion-item .ads-location h6 {
    color: #000;
}

.carspot-search-filter .side-bar .accordion-item .ads-location h6 span {
    color: #9e9e9e;
}

.carspot-search-filter .side-bar .accordion-item .mileage-range {
    display: flex;
}

.carspot-search-filter .side-bar .accordion-item .mileage-range input {
    border-radius: 0;
    background-color: #f8f8f8;
    border: 1px solid #eef2f3;
}

.carspot-search-filter .side-bar .accordion-item .mileage-range .left-input {
    border-right: none;
}

.carspot-search-filter .side-bar .accordion-item .mileage-range .right-input {
    border-left: none;
}

.carspot-search-filter .side-bar .accordion-item .mileage-range span {
    padding: 12px;
    background-color: #efefef;
    border: 1px solid #d3d5d6;
}

.search-car-brands .search-content #price-slider{
    height: 6px;
}
.search-car-brands .search-content #price-slider .noUi-handle{
    width: 18px;
    height: 18px;
    background-color: #e52d27;
    border-radius: 50%;
    top: 3px;
    border: none;
    box-shadow: none;
    top: -7px;
    left: -8px;
}
.search-car-brands .search-content #price-slider .noUi-handle:before,
.search-car-brands .search-content #price-slider .noUi-handle:after {
    background: #ffff;
    top: 4.5px;
    left: 32%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.carspot-search-filter .side-bar .accordion-item .year-duration .input-group:last-child {
    margin-top: 10px;
}

.carspot-search-filter .side-bar .accordion-item .year-duration .input-group:last-child .left-txt {
    padding: 10px 20px;
}

.carspot-search-filter .side-bar .accordion-item .year-duration .left-txt {
    padding: 10px;
    background-color: #eeeeee;
    border: 1px solid #d5d5d5;
    border-right: none;
}

.carspot-search-filter .side-bar .accordion-item .year-duration .form-group {
    width: 232px;
}

.carspot-search-filter .side-bar .accordion-item .year-duration .select2-container {
    width: 100% !important;
}

.carspot-search-filter .side-bar .accordion-item .year-duration .select2-container .select2-selection--single {
    height: 45px;
    border: 1px solid #eee;
    border-radius: 0;
}

.carspot-search-filter .side-bar .year-duration .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 43px;
}

.carspot-search-filter .side-bar .year-duration .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
    right: 5px;
}

.carspot-search-filter .transmission {
    display: flex;
    align-items: center;
}

.carspot-search-filter .transmission .radio {
    font-size: 14px;

}

.carspot-search-filter .transmission h6 {
    color: #000;
    margin-left: 5px;
}

.carspot-search-filter .transmission h6 span {
    color: #9e9e9e;
}

.carspot-search-filter .side-bar .price-range-slider .irs--flat .irs-from,
.carspot-search-filter .side-bar .price-range-slider .irs--flat .irs-to,
.carspot-search-filter .side-bar .price-range-slider .irs-with-grid .irs-grid {
    display: none;
}

.carspot-search-filter .side-bar .price-range-slider .irs--flat.irs-with-grid {
    height: 100px;
}

.carspot-search-filter .side-bar .price-range-slider .irs--flat .irs-bar {
    color: #e52d27;
    height: 6px;
}

.carspot-search-filter .side-bar .price-range-slider .irs--flat .irs-line {
    height: 6px;
    background: #44728e;
}

.carspot-search-filter .side-bar .price-range-slider .irs--flat .irs-handle {
    border-radius: 100%;
    border: 2px solid #2e566e;
    background: #94b9d0;
    cursor: pointer;
    top: 20px;
    height: 16px;
}

.carspot-search-filter .side-bar .price-range-slider .irs--flat .irs-handle > i:first-child {
    background-color: transparent;
}

.carspot-search-filter .side-bar .price-range-slider .irs--flat .irs-min,
.carspot-search-filter .side-bar .price-range-slider .irs--flat .irs-max {
    top: 50px;
    padding: 15px 50px;
    visibility: visible !important;
}

/* carspot-search-filter-end */

/* top-bread-crumb-start */
.top-bread-crumb {
    padding: 15px 0;
    background-color: #f3f8fb;
}

.top-bread-crumb .breadcrumb {
    margin-bottom: 0;
}

.top-bread-crumb .breadcrumb .breadcrumb-item a {
    color: #000;
}

.top-bread-crumb .breadcrumb .breadcrumb-item:hover a,
.top-bread-crumb .breadcrumb .breadcrumb-item.active a {
    color: #e52d27;
    transition: 0.5s ease-in-out;
}

/* top-bread-crumb-end */
/* cp-singlepage-detail-start */
.cp-singlepage-detail {
    background-color: #f3f8fb;
    padding-bottom: 30px;
}

.cp-singlepage-detail .porsche-ftd-car-dtl {
    background-color: #ffff;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.cp-singlepage-detail .porsche-ftd-car-dtl .feturd {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 65px;
    height: 65px;
}
.cp-singlepage-detail .left-cont{
    position: relative;
}
.cp-singlepage-detail .left-cont .cars-dtl-carousel .item {
    position: relative;
}

.cp-singlepage-detail .left-cont .cars-dtl-carousel .item img{
    height: 430px;
}

.cp-singlepage-detail .left-cont .cars-dtl-carousel .item .offer-id {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 12px;
    background-color: #e2f0ea;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
}

.cp-singlepage-detail .left-cont .cars-dtl-carousel .item .extra-links {
    position: absolute;
    bottom: 13px;
    right: 127px;
}

.cp-singlepage-detail .cars-dtl-carousel .item .extra-links a {
    margin-right: 5px;
}

.cp-singlepage-detail .left-cont .extra-links.outer-links{
    position: absolute;
    right: 20px;
    bottom: 10px;
    z-index: 9;
}


.cp-singlepage-detail .left-cont .extra-links.outer-links .iconify {
    background-color: #ffff;
    color: #000;
    font-size: 32px;
    padding: 6px;
    border-radius: 3px;
    transition: 0.5s ease-in-out;
}

.cp-singlepage-detail .cars-dtl-carousel .item .extra-links .iconify:hover {
    background-color: #e52d27;
    color: #ffff;
}

.cp-singlepage-detail .cars-dtl-carousel .item .extra-links .play {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    background-color: #ffff;
    margin-top: 14px;
}

.cp-singlepage-detail .cars-dtl-carousel .item .extra-links .imgs-range {
    background-color: #000;
    color: #ffff;
    border-radius: 25px;
    padding: 8px 15px 9px 15px;
    font-size: 12px;
    margin-right: 3px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.cp-singlepage-detail .cars-dtl-carousel .item .extra-links .img {
    padding: 0;
    font-size: 18px;
    background-color: #000;
    color: #ffff;
    margin-bottom: 2px;
    margin-right: 5px !important;
}

.cp-singlepage-detail .cars-dtl-carousel .item .extra-links .img:hover {
    background-color: #000;
    color: #ffff;
}

.cp-singlepage-detail .cars-dtl-carousel .item .extra-links .iconify:last-child {
    margin-right: 0;
}

.cp-singlepage-detail .left-cont .owl-carousel.cars-dtl-carousel .owl-nav {
    display: block;
}

.cp-singlepage-detail .left-cont .owl-carousel.cars-dtl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 20px;
    top: 47%;
    width: 35px;
    height: 35px;
    background-color: #ffff;
    color: #000;
    border: none;
}

.cp-singlepage-detail .left-cont .owl-carousel.cars-dtl-carousel .owl-nav .owl-next {
    position: absolute;
    right: 20px;
    top: 47%;
    width: 35px;
    height: 35px;
    background-color: #ffff;
    color: #000;
    border: none;
}

.cp-singlepage-detail .left-cont .owl-carousel.cars-dtl-carousel .owl-nav button.owl-prev span,
.cp-singlepage-detail .left-cont .owl-carousel.cars-dtl-carousel .owl-nav button.owl-next span {
    font-size: 40px;
    position: absolute;
    top: -14px;
    left: 11px;
}

.cp-singlepage-detail .left-cont .owl-carousel.cars-dtl-carousel .owl-nav button.owl-next span {
    padding-left: 2px;
}

.cp-singlepage-detail .right-cont {
    margin-top: 20px;
}

.cp-singlepage-detail .right-cont .top-btn .new {
    font-size: 12px;
    padding: 2px 12px;
    background-color: #81d742;
    color: #ffff;
    border-radius: 3px;
    margin-right: 2px;
}

.cp-singlepage-detail .right-cont .top-btn .sell {
    font-size: 12px;
    padding: 2px 8px;
    background-color: #157201;
    color: #ffff;
    border-radius: 3px;
}

.cp-singlepage-detail .right-cont .title h5 {
    font-size: 22px;
    color: #000;
    margin-top: 10px;
    width: 280px;
    font-weight: 600;
}

.cp-singlepage-detail .right-cont .list-view {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.cp-singlepage-detail .right-cont .list-view .left{
    display: flex;
    align-items: center;
}

.cp-singlepage-detail .right-cont .list-view .iconify {
    margin-right: 5px;
    font-size: 22px;
}

.cp-singlepage-detail .right-cont .list-view span {
    color: #242424;
    font-size: 14px;
}

.cp-singlepage-detail .right-cont .list-view b {
    font-weight: 500;
    color: #000;
    padding-left: 15px;
    margin: 0 10px 0 15px;
    line-height: 14px;
    border-left: 1px solid #000;
}

.cp-singlepage-detail .right-cont .price h5 {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 22px;
    margin-top: 10px;
    font-weight: 600;
}

.cp-singlepage-detail .right-cont .price h5 span {
    font-size: 14px;
    margin-left: 5px;
    color: #242424;
    font-weight: 400;
}

.cp-singlepage-detail .right-cont .carspot-profile-dtl .profile {
    display: flex;
    align-items: center;
    margin: 10px 0 15px 0;
}

.cp-singlepage-detail .carspot-profile-dtl .profile .left-img img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.cp-singlepage-detail .carspot-profile-dtl .profile .right-meta {
    margin-left: 10px;
    position: relative;
}

.cp-singlepage-detail .carspot-profile-dtl .profile .right-meta .rating-reviews {
    line-height: 16px;
}

.cp-singlepage-detail .carspot-profile-dtl .profile .right-meta .rating-reviews .iconify {
    color: #e52d27;
    font-size: 12px;
}

.cp-singlepage-detail .carspot-profile-dtl .profile .right-meta .rating-reviews span {
    color: #242424;
    font-size: 12px;
}

.cp-singlepage-detail .carspot-profile-dtl .profile .right-meta h4 {
    font-size: 18px;
    color: #000;
}

.cp-singlepage-detail .carspot-profile-dtl .profile .right-meta .check {
    position: absolute;
    top: 16px;
    right: -14px;
}

.cp-singlepage-detail .carspot-profile-dtl .location,
.cp-singlepage-detail .carspot-profile-dtl .cell-number {
    display: flex;
    align-items: end;
    margin-top: 10px;
    margin-bottom: 0;
}

.cp-singlepage-detail .carspot-profile-dtl .location .iconify {
    color: #e52d27;
    margin-right: 10px;
    font-size: 18px;
}

.cp-singlepage-detail .carspot-profile-dtl .location span {
    color: #737373;
    font-size: 14px;
    margin-right: 10px;
}

.cp-singlepage-detail .carspot-profile-dtl .location a {
    color: #e52d27;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
}

.cp-singlepage-detail .carspot-profile-dtl .cell-number .iconify {
    font-size: 18px;
    color: #4dae51;
    margin-right: 10px;
}

.cp-singlepage-detail .carspot-profile-dtl .cell-number span {
    color: #737373;
}

.cp-singlepage-detail .carspot-profile-dtl .cell-number a {
    color: #4dae51;
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
}

.cp-singlepage-detail .carspot-profile-dtl .offer-schedule-btn {
    margin-top: 30px;
}

.cp-singlepage-detail .carspot-profile-dtl .offer-schedule-btn .offer-btn,
.cp-singlepage-detail .carspot-profile-dtl .offer-schedule-btn .schedule-btn {
    padding: 10px 20px;
    background-color: #ffff;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
}

.cp-singlepage-detail .carspot-profile-dtl .offer-schedule-btn .schedule-btn {
    color: #e52d27;
    border: 1px solid #e52d27;
    margin-left: 10px;
}

.cp-singlepage-detail .desc-ftd {
    padding: 30px 25px 15px 25px;
    background-color: #ffff;
    margin-top: 30px;
    border-radius: 5px;
}

.cp-singlepage-detail .desc-ftd .description h3 {
    font-size: 22px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 600;
}

.cp-singlepage-detail .desc-ftd .description p {
    font-size: 15px;
    color: #737373;
    line-height: 30px;
    padding-bottom: 10px;
}

.cp-singlepage-detail .desc-ftd .desc-dtl ul {
    margin-bottom: 0;
}

.cp-singlepage-detail .desc-ftd .desc-dtl ul li {
    display: inline-block;
    width: 32%;
    margin-bottom: 10px;
}

.cp-singlepage-detail .desc-ftd .desc-dtl ul li:last-child {
    width: 50%;
}

.cp-singlepage-detail .desc-ftd .desc-dtl .dtl-item {
    display: flex;
    align-items: center;
}

.cp-singlepage-detail .desc-ftd .desc-dtl {
    margin-top: 5px;
}

.cp-singlepage-detail .desc-ftd .desc-dtl  .term-wraps{
    padding: 0 15px;
}

.cp-singlepage-detail .desc-ftd .desc-dtl .terms-details,
.content-box-grid .short-features .terms-details {
    line-height: 26px;
}

.cp-singlepage-detail .desc-ftd .desc-dtl .dtl-item h6 {
    font-weight: 600;
    color: #000;
    font-size: 15px;
}

.cp-singlepage-detail .desc-ftd .desc-dtl .dtl-item span {
    margin-left: 10px;
    color: #7e7e7e;
    font-size: 15px;
}

.cp-singlepage-detail .desc-ftd .ftd-links {
    margin-top: 10px;
    border: 1px solid #e7e7e7;
    border-left: none;
    border-right: none;
}

.cp-singlepage-detail .desc-ftd .ftd-links ul li {
    display: inline-block;
}

.cp-singlepage-detail .desc-ftd .ftd-links ul li a {
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-left: 1px solid #e7e7e7;
}

.cp-singlepage-detail .desc-ftd .ftd-links ul li:first-child a {
    padding-left: 0;
    border-left: none;
    color: #3768bd;
}

.cp-singlepage-detail .desc-ftd .ftd-links ul li:nth-child(2) a {
    color: #05a7e8;
}

.cp-singlepage-detail .desc-ftd .ftd-links ul li:nth-child(3) a {
    color: #4899c8;
}

.cp-singlepage-detail .desc-ftd .ftd-links ul li:last-child a {
    color: #d54178;
}

.cp-singlepage-detail .desc-ftd .ftd-links ul li a .iconify {
    margin-right: 5px;
    font-size: 14px;
}

.cp-singlepage-detail .desc-ftd .car-features {
    margin-top: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7e7e7;
}

.cp-singlepage-detail .desc-ftd .car-features h3 {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

.cp-singlepage-detail .desc-ftd .car-features ul li {
    display: inline-block;
    width: 32%;
    margin-bottom: 15px;
}

.cp-singlepage-detail .desc-ftd .car-features ul li .ftd-item {
    display: flex;
    align-items: center;
}

.cp-singlepage-detail .desc-ftd .car-features .ftd-item span {
    font-size: 14px;
    margin-left: 10px;
    color: #7e7e7e;
}

.cp-singlepage-detail .desc-ftd .other-links {
    margin-top: 15px;
}

.cp-singlepage-detail .desc-ftd .other-links ul li {
    display: inline-block;
    margin-right: 10px;
}

.cp-singlepage-detail .desc-ftd .other-links ul li .iconify {
    color: #e52d27;
    font-size: 22px;
}

.cp-singlepage-detail .desc-ftd .other-links ul li a {
    font-size: 14px;
    color: #7e7e7e;
    transition: 0.5s ease-in-out;
}

.cp-singlepage-detail .desc-ftd .other-links ul li a:hover {
    color: #e52d27;
}

.cp-singlepage-detail .desc-ftd .template-icons {
    display: flex;
    align-items: center;
}

.cp-singlepage-detail .seller-message {
    padding: 20px;
    margin-top: 30px;
    background-color: #ffff;
    border-radius: 5px;
}

.cp-singlepage-detail .seller-message .form-group h5 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 8px;
}

.cp-singlepage-detail .seller-message .form-group p {
    font-size: 14px;
    color: #000;
    margin-bottom: 3px;
}

.cp-singlepage-detail .seller-message .form-group .input-field {
    margin-bottom: 15px;
    position: relative;
}

.cp-singlepage-detail .form-group .input-field input {
    color: #737373;
    background-color: #fbfdff;
    border: 1px solid #e1e9f1;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 20px;
}

.cp-singlepage-detail .seller-message .form-group .input-field .txt-area {
    resize: unset;
    color: #737373;
    background-color: #fbfdff;
    border: 1px solid #e1e9f1;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 0 0 20px;
    width: 100%;
}

.cp-singlepage-detail .seller-message .form-group .select2-container {
    width: 100% !important;
}

.cp-singlepage-detail .seller-message .form-group .select2-container .select2-selection--single {
    height: 44px;
    border: none;
}

.cp-singlepage-detail .seller-message .form-group .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 42px;
    color: #737373;
    padding: 0 0 0 60px;
    background-color: #fbfdff;
    border: 1px solid #e1e9f1;
    border-radius: 5px;
}

.cp-singlepage-detail .seller-message .form-group .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 9px;
    left: 40px;
}

.cp-singlepage-detail .seller-message .form-group .input-field .flag {
    position: absolute;
    top: 33px;
    left: 15px;
    font-size: 24px;
}

.cp-singlepage-detail .seller-message .form-group .botm-btn a {
    display: block;
    background-color: #e52d27;
    color: #ffff;
    font-size: 14px;
    text-align: center;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 22px;
}

.cp-singlepage-detail .seller-message.motgag-calc .input-field p {
    display: flex;
    align-items: center;
}

.cp-singlepage-detail .seller-message.motgag-calc .input-field p .iconify {
    margin-left: 5px;
}

.cp-singlepage-detail .seller-message.motgag-calc .input-field .input-group-text {
    color: #737373;
    background-color: #fbfdff;
    border: 1px solid #e1e9f1;
    padding: 10px 15px;
}

.cp-singlepage-detail .seller-message.motgag-calc .input-field .slt-grp {
    display: flex;
    width: 100%;
}

.cp-singlepage-detail .seller-message.motgag-calc .input-field .slt-grp .left,
.cp-singlepage-detail .seller-message.motgag-calc .input-field .slt-grp .right {
    width: 50%;
    display: inline-block;
}

.cp-singlepage-detail .seller-message.motgag-calc .input-field .slt-grp .left .select2-container--default .select2-selection--single .select2-selection__rendered {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.cp-singlepage-detail .seller-message.motgag-calc .input-field .slt-grp .right .select2-container--default .select2-selection--single .select2-selection__rendered {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.cp-singlepage-detail .seller-message.motgag-calc .form-group .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0 33px 0 15px;
}

.cp-singlepage-detail .seller-message.motgag-calc .form-group .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 9px;
    left: unset;
    right: 5px;
}

.cp-singlepage-detail .seller-message.motgag-calc .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 0px 1px 1px 0px;
    height: 8px;
    top: 40%;
    width: 8px;
    transform: rotate(45deg);
    border-color: #737373;
}

.cp-singlepage-detail .seller-message.motgag-calc .select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 1px 0px 0px 1px;
    top: 56%;
}

/* cp-singlepage-detail-end */
/* my new changes start */
/*.explore-cars-cities {*/
/*    position: relative;*/
/*}*/
/*.explore-cars-cities .used-cars .nav-tabs {*/
/*    position: absolute;*/
/*    top: 5px;*/
/*    right: 0;*/
/*    border-bottom: none;*/
/*}*/
/*.explore-cars-cities .used-cars .nav-tabs li.active a {*/
/*    background-color: #e52d27;*/
/*    color: #ffff;*/
/*    font-size: 12px;*/
/*    padding: 10px 12px;*/
/*    border: 1px solid #e52d27;*/
/*}*/
/*.explore-cars-cities .used-cars .nav-tabs li a {*/
/*    background-color: #fbfdff;*/
/*    color: #000;*/
/*    padding: 10px 12px;*/
/*    font-size: 12px;*/
/*    border: 1px solid #e0e8f1;*/
/*    border-radius: 5px;*/
/*    margin-right: 0;*/
/*    transition: 0.5s ease-in-out;*/
/*}*/
/*.explore-cars-cities .used-cars .nav-tabs li .left {*/
/*    border-radius: 5px;*/
/*    border-top-right-radius: 0;*/
/*    border-bottom-right-radius: 0;*/
/*}*/
/*.explore-cars-cities .used-cars .nav-tabs li .right {*/
/*    border-radius: 5px;*/
/*    border-top-left-radius: 0;*/
/*    border-bottom-left-radius: 0;*/
/*}*/
/* my new changes at 29/9/2021 */
.explore-cars-cities {
    position: relative;
}

.nav-tabs.my-custom-tab {
    position: absolute;
    top: 5px;
    right: 0;
    border-bottom: none;
}

.nav-tabs.my-custom-tab li a {
    background-color: #fbfdff;
    color: #000;
    padding: 10px 12px;
    font-size: 12px;
    border: 1px solid #e0e8f1;
    border-radius: 5px;
    margin-right: 0;
    transition: 0.5s ease-in-out;
}

.nav-tabs.my-custom-tab li a:hover,
.nav-tabs.my-custom-tab li a:focus {
    background-color: #fbfdff;
    border: 1px solid #e0e8f1;
    color: #000;
}

.nav-tabs.my-custom-tab li.active a {
    background-color: #e52d27;
    color: #ffff;
    font-size: 12px;
    padding: 10px 12px;
    border: 1px solid #e52d27;
}

.nav-tabs.my-custom-tab li.active a:hover,
.nav-tabs.my-custom-tab li.active a:focus {
    background-color: #e52d27;
    border: 1px solid #e52d27;
    color: #ffff;
}

.nav-tabs.my-custom-tab li .left {
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.nav-tabs.my-custom-tab li .right {
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-car-brands .nav-tabs.search-tab li {
    width: 25%;
}

.search-car-brands .nav-tabs.search-tab li a {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;
    padding: 10px 5px;
    border: 1px solid #999999;
    border-bottom: none;
    border-right: none;
    border-radius: 0px;
    height: 70px;
    transition: 0.5s ease-in-out;
}

.search-car-brands .nav-tabs.search-tab li a:active,
.search-car-brands .nav-tabs.search-tab li a:focus {
    background-color: #000;
    border: 1px solid #999999;
    border-right: none;
    border-bottom: none;
}

.search-car-brands .nav-tabs.search-tab li a:hover {
    margin-top: -10px;
    height: 80px;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    background-color: #000000;
}

.search-car-brands .nav-tabs.search-tab li:first-child a {
    border-top-left-radius: 5px !important;
    border: 1px solid #999999;
    border-right: none;
    border-bottom: none;
}

.search-car-brands .nav-tabs.search-tab li:last-child a {
    border-top-right-radius: 5px !important;
    border: 1px solid #999999;
    border-bottom: none;
}

.search-car-brands .nav-tabs.search-tab li a:before {
    content: "";
    border-bottom: 3px solid #e52d27;
    width: 0%;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.search-car-brands .nav-tabs.search-tab li a:after {
    content: "";
    border-bottom: 3px solid #e52d27;
    width: 0%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.search-car-brands .nav-tabs.search-tab li a:hover::after,
.search-car-brands .nav-tabs.search-tab li a:hover::before {
    width: 100%;
}

.search-car-brands .nav-tabs.search-tab li a .iconify {
    width: 50px;
    height: 30px;
    color: #fff;
}

.search-car-brands .nav-tabs.search-tab li a span {
    font-size: 12px;
    color: #fff;
}

.search-car-brands .srh-car-types .nav-tabs.my-custom-tab {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: none;
}

.search-car-brands .srh-car-types .tab-content {
    margin-top: 54px;
}
.carspot-top-bar .select2-container--default .select2-selection--single{
    color: #ffff;
    border: none;
    background-color: transparent;
    padding: 10px 60px 10px 60px;
    font-size: 12px;
}
.carspot-top-bar .select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #ffff;
    line-height: 40px;
}
.carspot-top-bar .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 5px;
}
.carspot-top-bar .right-cont .carspot-menu ul .dropdown .dropdown-menu {
    display: none;
}
.carspot-top-bar .right-cont .carspot-menu ul .dropdown.open .dropdown-menu{
    display: block;
}
.carspot-top-bar .right-cont .carspot-menu ul .dropdown a i {
    margin-bottom: 5px;
}
.carspot-top-bar .right-cont .dropdown .notify .point{
    left: -3px;
}
.carspot-top-bar .right-cont .carspot-menu ul .dropdown .img-circle{
    margin-right: 15px;
}
.carspot-top-bar .right-cont .carspot-menu ul .dropdown  .caret{
    position: absolute;
    top: 20px;
    right: 9px;
}
.sb-carspot .sb-menu.menu-caret ul li.dropdown_menu > a > span{
    display: none;
}
.sb-carspot .sb-menu.menu-caret .menu-links {
    float: left;
}
.sb-carspot .sb-menu.menu-caret .menu-right-links {
    float: right;
}
.carspot-top-bar .right-cont ul li.dropdown ul.dropdown-menu{
    height: auto;
    padding: 0;
    left: 10px;
    top: 55px;
}
.carspot-top-bar .right-cont ul li.dropdown ul.dropdown-menu.mailbox{
    left: 0px;
    top: 51px;
}
.carspot-top-bar .right-cont ul li.dropdown ul.dropdown-menu li {
    border-bottom: 1px solid #f3f3f3;
    padding: 0;
}
.carspot-top-bar .right-cont ul li.dropdown ul.dropdown-menu li:last-child{
    border-bottom: none;
}
.carspot-top-bar .right-cont ul li.dropdown ul.dropdown-menu li a{
    color: #232323;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 20px;
}
.carspot-top-bar .left-cont .select2-container .select2-container--open .select2-dropdown {
    top: 8px !important;
}
.cat-description{
    padding: 0px 15px 15px 15px;
    text-align: justify;
    line-height: 30px;
    color: #232323;
    font-size: 16px;
    font-weight: 500;
}