/**
	sb - HTML header navigation menu - v1.3.1
 	Copyright (c) 2019, Pophonic
	
	Author: Pophonic
	Profile: https://codecanyon.net/user/pophonic
	
**/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
Default settings
Header sticky
Center menu
Dark version navigation menu
Header transparent
Hover transitions
Submenu
Submenu transitions
Menu overlay
Menu slide
Mega menu
Fixed sidebar menu
Menu icons
Media queries for responsive design
--------------------------------------------------------------*/


/* =============================================
Default settings
================================================ */

.sb-header,
.sb-header * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sb-header:before,
.sb-header:after,
.sb-header *:before,
.sb-header *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sb-header {
    position: relative;
    font-size: 16px;
    line-height: 1.42857143;
    background-color: #fff;
    z-index: 99999;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.sb-header ul {
    margin-bottom: inherit;
}

.sb-header img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.sb-header a:hover,
.sb-header a:focus,
.sb-header a:active {
    text-decoration: none;
}

.sb-header a:focus,
.sb-header a:active {
    outline: none;
}

.sb-header-container {
    position: relative;
}

.sb-header-overlay .sb-header-container {
    position: inherit;
}

.sb-header .logo {
    text-align: center;
    padding: 30px 40px;
}

.sb-header .logo img {
    max-width: 100%;
    height: auto;
}

.burger-menu {
    position: absolute;
    top: 35px;
    right: 14px;
    width: 20px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    -webkit-transition: transform 330ms ease-out;
    -moz-transition: transform 330ms ease-out;
    -o-transition: transform 330ms ease-out;
    transition: transform 330ms ease-out;
}

.burger-menu.menu-open {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.line-menu {
    background-color: #111111;
    border-radius: 2px;
    width: 100%;
    height: 3px;
}

.line-menu.line-half {
    width: 50%;
}

.line-menu.first-line {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}

.menu-open .line-menu.first-line {
    -webkit-transform: rotate(-90deg) translateX(3px);
    -moz-transform: rotate(-90deg) translateX(3px);
    -o-transform: rotate(-90deg) translateX(3px);
    transform: rotate(-90deg) translateX(3px);
}

.line-menu.last-line {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}

.menu-open .line-menu.last-line {
    -webkit-transform: rotate(-90deg) translateX(-3px);
    -moz-transform: rotate(-90deg) translateX(-3px);
    -o-transform: rotate(-90deg) translateX(-3px);
    transform: rotate(-90deg) translateX(-3px);
}

.sb-menu>ul {
    display: none;
    padding: 0 0 20px;
}

.sb-menu ul li {
    position: relative;
}

.sb-menu ul li>a {
    display: block;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #212121;
    padding: 14px 15px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sb-menu ul li.current-menu>a,
.sb-menu ul li:hover>a {
    color: #26c6da;
    background-color: #f6f6f6;
}

.sb-menu ul ul li>a {
    font-size: 14px;
    font-style: italic;
    text-transform: inherit;
    background-color: #efefef;
    padding: 14px 15px 14px 30px;
}

.sb-menu ul ul ul li>a {
    padding: 14px 15px 14px 45px;
}

.sb-menu ul ul li:hover>a {
    background-color: #efefef;
}

.dropdown-plus {
    width: 49px;
    height: 49px;
    line-height: 49px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.dropdown-plus:before,
.dropdown-plus:after {
    position: absolute;
    content: '';
    top: 24px;
    right: 18px;
    width: 13px;
    height: 1px;
    background-color: #111111;
}

.dropdown-plus:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sb-menu li>ul,
.dropdown-plus.dropdown-open:after {
    display: none;
}

.header-shadow-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 30px;
    overflow: hidden;
    z-index: -1;
}

.header-shadow-wrapper:after {
    display: block;
    position: relative;
    content: "";
    width: 100%;
    height: 60px;
    top: -60px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
}


/* =============================================
Center menu
================================================ */

.logoCenter {
    display: none;
}

.center-menu-1 .sb-menu>ul:first-child {
    padding: 0;
}


/* =============================================
Dark version navigation menu
================================================ */

.sb-header.header-dark {
    background-color: #111111;
}

.sb-header.header-dark .line-menu,
.sb-header.header-dark .dropdown-plus:before,
.sb-header.header-dark .dropdown-plus:after {
    background-color: #fff;
}

.header-dark .sb-menu ul li>a {
    color: #fff;
}

.header-dark .sb-menu ul li.current-menu>a,
.header-dark .sb-menu ul li:hover>a {
    color: #26c6da;
    background-color: #313131;
}

.header-dark .sb-menu ul ul li>a {
    color: #c1c1c1;
    background-color: #212121;
}


/* =============================================
Menu overlay
================================================ */

.sb-header-overlay {
    position: absolute;
    font-size: 16px;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.sb-header-overlay img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.sb-header-overlay a:hover,
.sb-header-overlay a:focus,
.sb-header-overlay a:active {
    text-decoration: none;
}

.sb-header-overlay a:focus,
.sb-header-overlay a:active {
    outline: none;
}

.sb-header-overlay .logo {
    position: absolute;
    top: 30px;
    left: 15px;
    z-index: 2;
}

.sb-header-overlay .burger-menu,
.sb-fixed-sidebar+.burger-menu {
    display: block;
    position: fixed;
    flex-direction: inherit;
    justify-content: inherit;
    width: 50px;
    height: 47px;
    top: 30px;
    right: 15px;
    background: #111111;
    padding: 15px;
    z-index: 99999;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sb-header-overlay .burger-menu:hover {
    -webkit-box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.4);
}

.sb-header-overlay .burger-menu>span,
.sb-fixed-sidebar+.burger-menu>span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 17px;
    -webkit-transition: transform 330ms ease-out;
    -moz-transition: transform 330ms ease-out;
    -o-transition: transform 330ms ease-out;
    transition: transform 330ms ease-out;
}

.sb-header-overlay .line-menu,
.sb-fixed-sidebar+.burger-menu .line-menu {
    background-color: #fff;
}

.sb-header-overlay .burger-menu.menu-open,
.sb-fixed-sidebar+.burger-menu.menu-open {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.sb-header-overlay .menu-open>span,
.sb-fixed-sidebar+.menu-open>span {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
    overflow-y: auto;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav-menu-wrapper.overlay-menu-open {
    visibility: visible;
    opacity: 1;
}

.sb-menu-overlay {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}

.sb-menu-overlay>ul {
    padding: 80px 0 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.sb-menu-overlay ul li a {
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
}

.sb-menu-overlay>ul>li {
    position: relative;
    padding: 0 65px 0 15px;
    margin-bottom: 12px;
}

.sb-menu-overlay>ul>li:last-child {
    margin-bottom: 0;
}

.sb-menu-overlay>ul>li>.menu-overlay-link a {
    display: inline-block;
    color: #212121;
    font-size: 28px;
    font-weight: 800;
    line-height: 1.2em;
    text-transform: uppercase;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.sb-menu-overlay>ul>li.current-menu>.menu-overlay-link a,
.sb-menu-overlay>ul>li>.menu-overlay-link a:hover,
.overlay-menu-hover>.menu-overlay-link a,
.overlay-dropdown-plus:hover+a {
    color: #26c6da !important;
}

.overlay-dropdown-plus {
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 6px;
    right: 30px;
    opacity: 0;
    cursor: pointer;
}

.overlay-dropdown-plus:before,
.overlay-dropdown-plus:after {
    position: absolute;
    content: '';
    top: 9px;
    right: 5px;
    width: 10px;
    height: 2px;
    background-color: #616161;
}

.overlay-dropdown-plus:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sb-menu-overlay>ul>li>ul {
    display: none;
    padding: 10px 0 20px;
}

.overlay-dropdown-plus.overlay-dropdown-open:after {
    display: none;
}

.sb-menu-overlay>ul>li.menuFade>.menu-overlay-link a,
.sb-menu-overlay>ul>li.menuFade>ul,
.sb-menu-overlay>ul>li.menuFade>.menu-overlay-link .overlay-dropdown-plus {
    opacity: 0;
}


/* ===== IE Only ===== */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .sb-menu-overlay>ul>li.menuSlideIn>ul {
        opacity: 1;
    }
}

@supports (-ms-accelerator:true) {
    .sb-menu-overlay>ul>li.menuSlideIn>ul {
        opacity: 1;
    }
}


/* ===== End ===== */

.sb-menu-overlay>ul>li li,
.sb-menu-overlay>ul ul {
    display: inline;
}

.sb-menu-overlay>ul ul li {
    margin-left: 32px;
}

.sb-menu-overlay>ul ul li a {
    font-size: 14px;
    font-style: italic;
    color: #818181;
    white-space: nowrap;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.sb-menu-overlay>ul ul li a:hover {
    color: #26c6da !important;
}

.sb-menu-overlay>ul>li>ul>li,
.sb-header-overlay.menu-slide .sb-menu-overlay>ul>li>ul li {
    position: relative;
}

.sb-menu-overlay>ul>li>ul>li:after,
.sb-header-overlay.menu-slide .sb-menu-overlay>ul ul li a::before {
    position: absolute;
    content: "";
    top: 3px;
    left: -18px;
    width: 1px;
    height: 13px;
    background: #d1d1d1;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sb-menu-overlay>ul>li>ul>li:first-child {
    margin-left: 0;
}

.sb-menu-overlay>ul>li>ul>li:first-child:after {
    display: none;
}

.sb-menu-overlay.submenu-no-separate>ul>li>ul li:after,
.sb-header-overlay.menu-slide .sb-menu-overlay.submenu-no-separate>ul ul li a::before {
    display: none !important;
}

.sb-menu-overlay.submenu-no-separate>ul ul li {
    margin-left: 20px;
}

@-webkit-keyframes menuFadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-80px, 0, 0);
        transform: translate3d(-80px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes menuFadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-80px, 0, 0);
        transform: translate3d(-80px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.sb-menu-overlay>ul>li.menuSlideIn>.menu-overlay-link a,
.sb-menu-overlay>ul>li.menuSlideIn>ul {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: menuFadeInLeft;
    animation-name: menuFadeInLeft;
}


/* ===== IE Only ===== */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .sb-menu-overlay>ul>li.menuSlideIn>ul {
        animation-name: menuFadeIn;
    }
}

@supports (-ms-accelerator:true) {
    .sb-menu-overlay>ul>li.menuSlideIn>ul {
        animation-name: menuFadeIn;
    }
}


/* ===== End ===== */

@-webkit-keyframes menuFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes menuFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sb-menu-overlay>ul>li.menuSlideIn .menu-overlay-link .overlay-dropdown-plus {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: menuFadeIn;
    animation-name: menuFadeIn;
}

.sb-menu-overlay>ul>li.menuSlideOut .menu-overlay-link .overlay-dropdown-plus {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: subMenuFadeOut;
    animation-name: subMenuFadeOut;
}

.overlay-center-menu .sb-menu-overlay>ul>li.menuSlideIn .menu-overlay-link .overlay-dropdown-plus {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.overlay-center-menu .sb-menu-overlay>ul>li.menuSlideIn>.menu-overlay-link a,
.overlay-center-menu .sb-menu-overlay>ul>li.menuSlideIn>ul {
    -webkit-animation-name: menuFadeIn;
    animation-name: menuFadeIn;
}

@-webkit-keyframes subMenuFadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes subMenuFadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.overlay-submenu-close>li {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: subMenuFadeOut;
    animation-name: subMenuFadeOut;
}


/* ========== Submenu vertical ========== */

.submenu-vertical>ul ul li {
    margin-left: 0 !important;
}

.submenu-vertical>ul>li>ul li,
.submenu-vertical>ul>li>ul ul {
    display: block;
}

.submenu-vertical>ul>li>ul>li:after {
    display: none;
}

.submenu-vertical>ul>li>ul li {
    position: relative;
    margin-bottom: 5px;
}

.submenu-vertical>ul>li>ul li:last-child {
    margin-bottom: 0 !important;
}

.submenu-vertical>ul>li ul {
    position: relative;
    right: -30px;
    padding-right: 30px !important;
}

.submenu-vertical>ul>li>ul ul {
    display: none;
    padding-top: 5px;
}

.submenu-vertical>ul>li.menuFade>ul {
    opacity: 1;
}

.submenu-vertical>ul>li.menuSlideIn>ul {
    -webkit-animation-name: none;
    animation-name: none;
}

.submenu-vertical>ul>li.menuSlideIn ul:not(.overlay-submenu-close) a {
    display: inline-block;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: menuFadeInLeft;
    animation-name: menuFadeInLeft;
}

.submenu-vertical>ul>li ul:not(.overlay-submenu-close) a {
    opacity: 0;
}

.submenu-vertical>ul>li>ul li .overlay-dropdown-plus {
    top: 1px;
    right: -35px;
}

.submenu-vertical>ul>li.menuSlideOut li a {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: subMenuFadeOut;
    animation-name: subMenuFadeOut;
}

.overlay-center-menu .submenu-vertical>ul>li>ul li .overlay-dropdown-plus {
    right: -30px;
}

.overlay-center-menu .submenu-vertical>ul>li ul {
    right: 0 !important;
    padding-right: 0px !important;
}

.overlay-center-menu .submenu-vertical>ul>li.menuSlideIn ul:not(.overlay-submenu-close) a {
    -webkit-animation-name: menuFadeIn;
    animation-name: menuFadeIn;
}


/* ========== END ========== */

.menu-social-media {
    position: absolute;
    right: 0;
    bottom: 24px;
    font-size: 0;
    width: 100%;
    text-align: right;
    padding: 0 65px;
}

.menu-social-media a {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 0 6px 6px;
    border: 3px solid #212121;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.menu-social-media a:hover {
    opacity: 0.8;
}

.menu-social-media a img {
    position: absolute;
    height: 14px;
    width: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header-dark .nav-menu-wrapper {
    background-color: #111111;
}

.sb-header-overlay.header-dark .burger-menu.menu-open {
    background-color: #000;
}

.overlay-center-menu .menu-social-media {
    text-align: center;
    padding: 0 15px;
}

.overlay-center-menu .menu-social-media a {
    margin: 0 3px 6px;
}

.overlay-center-menu .sb-menu-overlay>ul {
    text-align: center;
}

.overlay-center-menu .sb-menu-overlay>ul>li {
    padding: 0 15px;
}

.overlay-center-menu .sb-menu-overlay>ul>li>ul {
    padding: 15px 0 21px;
}

.overlay-center-menu .menu-overlay-link {
    position: relative;
    display: inline-block;
}

.overlay-center-menu .overlay-dropdown-plus {
    right: -30px;
}

.header-dark .sb-menu-overlay>ul>li>.menu-overlay-link a {
    color: #fff;
}

.header-dark .overlay-dropdown-plus:before,
.header-dark .overlay-dropdown-plus:after {
    background-color: #717171;
}

.header-dark .sb-menu-overlay>ul ul li a {
    color: #a1a1a1;
}

.header-dark .sb-menu-overlay>ul>li>ul>li:after,
.menu-slide.header-dark .sb-menu-overlay>ul ul li a::before {
    background-color: #515151 !important;
}

.header-dark .menu-social-media a {
    border-color: #fff;
    opacity: 0.2;
}

.header-dark .menu-social-media a:hover {
    opacity: 1;
}

.header-color-bg .nav-menu-wrapper {
    background-color: #006aa1;
}

.header-color-bg .sb-menu-overlay>ul>li>.menu-overlay-link a {
    color: #fff;
}

.header-color-bg .overlay-dropdown-plus:before,
.header-color-bg .overlay-dropdown-plus:after,
.header-color-bg .sb-menu-overlay>ul>li>ul li:after,
.menu-slide.header-color-bg .sb-menu-overlay>ul ul li a::before {
    background-color: #fff !important;
}

.header-color-bg .sb-menu-overlay>ul ul li a {
    color: #fff;
}

.header-color-bg .menu-social-media a {
    border-color: #fff;
}

.header-color-bg .sb-menu-overlay>ul>li.current-menu>.menu-overlay-link a,
.header-color-bg .overlay-menu-hover>.menu-overlay-link a,
.header-color-bg .overlay-dropdown-plus:hover+a {
    color: #fff !important;
}

.header-color-bg .sb-menu-overlay>ul>li>.menu-overlay-link a:hover,
.header-color-bg .sb-menu-overlay>ul ul li a:hover {
    color: rgba(255, 255, 255, 0.8) !important;
}

.header-bg-image .nav-menu-wrapper {
    background-color: inherit;
    background-image: url('../examples/demo/images/overlay-menu-bg.html');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-bg-image .sb-menu-overlay>ul>li>.menu-overlay-link a {
    color: #fff;
}

.header-bg-image .overlay-dropdown-plus:before,
.header-bg-image .overlay-dropdown-plus:after {
    background-color: #fff;
}

.header-bg-image .sb-menu-overlay>ul ul li a {
    color: rgba(255, 255, 255, 0.6);
}

.header-bg-image .sb-menu-overlay>ul>li>ul>li:after {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

.header-bg-image .menu-social-media a {
    border-color: #fff;
}

.header-bg-image .menu-social-media a:hover {
    opacity: 0.6;
}


/* =============================================
Menu slide
================================================ */

.sb-header-overlay.menu-slide .nav-menu-wrapper {
    width: 320px;
    left: inherit;
    right: 0;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.sb-header-overlay.menu-slide .nav-menu-wrapper.overlay-menu-open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-box-shadow: -15px 0px 60px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -15px 0px 60px -5px rgba(0, 0, 0, 0.3);
    box-shadow: -15px 0px 60px -5px rgba(0, 0, 0, 0.3);
}

.slidemenu-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.overlay-menu-open+.slidemenu-bg-overlay {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.sb-header-overlay.menu-slide .sb-menu-overlay>ul ul li a {
    position: relative;
    display: block;
    padding-left: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sb-header-overlay.menu-slide .sb-menu-overlay.submenu-no-separate>ul ul li a {
    padding-left: 15px;
}

.sb-header-overlay.menu-slide .sb-menu-overlay>ul {
    display: block;
    text-align: left;
    padding: 120px 0 100px;
}

.sb-header-overlay.menu-slide .sb-menu-overlay>ul>li {
    padding: 0 35px 0 30px;
}

.sb-header-overlay.menu-slide .sb-menu-overlay>ul>li ul .overlay-dropdown-plus {
    top: -1px;
    right: -5px;
}

.sb-header-overlay.menu-slide .sb-menu-overlay .menu-overlay-link {
    padding-right: 30px;
}

.sb-header-overlay.menu-slide .menu-social-media {
    right: inherit;
    left: 0;
    text-align: left;
    padding: 0 30px;
}

.sb-header-overlay.menu-slide .menu-social-media a {
    margin: 0 6px 6px 0;
}

@-webkit-keyframes menuFadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(40px, 0, 0);
        transform: translate3d(40px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes menuFadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(40px, 0, 0);
        transform: translate3d(40px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.sb-header-overlay.menu-slide .sb-menu-overlay>ul>li.menuSlideIn>ul {
    opacity: 1;
    -webkit-animation-name: none;
    animation-name: none;
}

.sb-header-overlay.menu-slide .sb-menu-overlay>ul>li.menuSlideIn>.menu-overlay-link a,
.sb-header-overlay.menu-slide .sb-menu-overlay>ul>li.menuSlideIn ul:not(.overlay-submenu-close) a {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: menuFadeInRight;
    animation-name: menuFadeInRight;
}

.sb-header-overlay.menu-slide .sb-menu-overlay>ul ul:not(.overlay-submenu-close) a {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sb-header-overlay.menu-slide .sb-menu-overlay>ul>li.menuSlideIn .menu-overlay-link .overlay-dropdown-plus {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

.sb-header-overlay.menu-slide .sb-menu-overlay>ul>li li {
    display: block;
}

.sb-header-overlay.menu-slide .sb-menu-overlay>ul>li>ul {
    padding-top: 25px;
}

.sb-header-overlay.menu-slide .sb-menu-overlay>ul>li>ul ul {
    display: none;
    padding-top: 5px;
    padding-left: 20px;
}

.sb-header-overlay.menu-slide .sb-menu-overlay>ul>li>ul li {
    margin-left: 0 !important;
    margin-bottom: 5px;
}

.sb-header-overlay.menu-slide .sb-menu-overlay>ul>li>ul>li:after {
    display: none;
}

.sb-header-overlay.menu-slide .sb-menu-overlay>ul ul li a:hover {
    padding-left: 30px;
}

.sb-header-overlay.menu-slide .sb-menu-overlay.submenu-no-separate>ul ul li a:hover {
    padding-left: 25px;
}

.sb-header-overlay.menu-slide .sb-menu-overlay>ul ul li a::before {
    top: 2px;
    left: 5px;
}


/* =============================================
Mega menu
================================================ */

.sb-menu .mega-menu-container ul li {
    position: relative;
}

.sb-menu .mega-menu-container ul li a {
    font-style: inherit;
    color: inherit;
    background-color: inherit;
    padding: inherit;
}

.header-dark .sb-menu .mega-menu-container ul li a,
.sb-menu .mega-menu-container ul li:hover a {
    background-color: inherit;
}

.sb-menu .mega-menu-container {
    padding: 15px 30px 0;
}

.sb-menu .mega-menu>ul .dropdown-plus {
    display: none;
}

.sb-menu .mega-menu-box {
    margin-bottom: 30px;
}

.sb-menu .mega-menu-heading {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    color: #212121;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.sb-menu .mega-menu-heading a {
    color: #212121;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.header-dark .sb-menu .mega-menu-heading a {
    color: #fff;
}

.sb-menu .mega-menu-desc {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 1.42857143;
    color: #818181;
}

.sb-menu .mega-menu-container li>ul {
    display: block;
}

.sb-menu ul.mega-menu-list li a {
    font-size: 14px;
    font-style: italic;
    color: #818181;
    padding: 5px 0;
}

.sb-menu .mega-menu-heading a:hover,
.sb-menu ul.mega-menu-list li a:hover {
    color: #26c6da;
}

.sb-menu ul.mega-menu-list ul {
    padding-left: 15px !important;
}

.sb-menu .mega-menu-thumbnail {
    margin-bottom: 20px;
}

.sb-menu .mega-menu-thumbnail img {
    width: 100%;
    height: auto;
}

.sb-menu .mega-menu-thumbnail>a {
    display: block;
    position: relative;
}

.sb-menu .mega-menu-thumbnail>a:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.sb-menu .mega-menu-thumbnail:hover>a:before {
    background-color: rgba(0, 0, 0, 0.2);
}


/* =============================================
Fixed sidebar menu
================================================ */

.body-fixed-sidebar {
    overflow-x: hidden;
}

.sb-fixed-sidebar {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 9999999;
    overflow-y: auto;
    background-color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.sb-sidebar-left {
    left: 0;
    -webkit-box-shadow: 2px 0px 12px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 0px 12px -2px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 2px 0px 12px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 0px 12px -2px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.sb-sidebar-right {
    right: 0;
    -webkit-box-shadow: -2px 0px 12px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -2px 0px 12px -2px rgba(0, 0, 0, 0.15);
    -o-box-shadow: -2px 0px 12px -2px rgba(0, 0, 0, 0.15);
    box-shadow: -2px 0px 12px -2px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.sb-sidebar-left.fixed-sidebar-open {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}

.sb-sidebar-right.fixed-sidebar-open {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}

.sb-fixed-sidebar .sb-header-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 28px;
}

.sb-fixed-sidebar .menu-social-media {
    position: inherit;
    bottom: inherit;
    align-self: flex-end;
    padding: 0 0 30px !important;
    text-align: left;
}

.sb-fixed-sidebar .menu-social-media a {
    margin: 0 6px 6px 0;
}

.sb-fixed-sidebar .menu-social-media a:last-child {
    margin-right: 0;
}

.sb-fixed-sidebar+.burger-menu {
    z-index: 9999999;
}

.sb-sidebar-left+.burger-menu {
    top: 0;
    right: inherit;
    left: 0;
}

.sb-sidebar-right+.burger-menu {
    top: 0;
    right: 0;
}

.fixedsidebar-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sb-side-content {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.sb-sidebar-left.fixed-sidebar-open~.sb-side-content {
    -webkit-transform: translateX(125px);
    -moz-transform: translateX(125px);
    -o-transform: translateX(125px);
    transform: translateX(125px);
}

.sb-sidebar-right.fixed-sidebar-open~.sb-side-content {
    -webkit-transform: translateX(-125px);
    -moz-transform: translateX(-125px);
    -o-transform: translateX(-125px);
    transform: translateX(-125px);
}

.sb-fixed-sidebar .logo {
    display: none;
    padding: 70px 0;
}

.sb-side-content>.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 47px;
    padding: 0 50px;
    z-index: 99999;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.15);
}

.sb-side-content>.logo img {
    max-width: inherit;
    max-height: 47px;
    width: auto;
}

.fixed-sidebar-open~.fixedsidebar-bg-overlay {
    visibility: visible;
    opacity: 1;
}

.fixed-menu-wrap {
    width: 100%;
}


/* ========== Navigation menu ========== */

.sb-menu-fixed {
    padding-top: 90px;
}

.sb-menu-fixed ul li {
    position: relative;
}

.sb-menu-fixed ul li a {
    font-family: 'Fira Sans', sans-serif;
    display: block;
    padding-right: 17px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sb-menu-fixed>ul>li.current-menu>a,
.sb-menu-fixed ul li:hover>a {
    color: #26c6da !important;
}

.sb-menu-fixed>ul {
    margin-bottom: 40px;
}

.sb-menu-fixed>ul>li {
    margin-bottom: 14px;
}

.sb-menu-fixed>ul>li:last-child {
    margin-bottom: 0;
}

.sb-menu-fixed>ul>li>a {
    font-size: 18px;
    font-weight: 700;
    color: #212121;
    text-transform: uppercase;
}

.sb-menu-fixed>ul ul {
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.sb-menu-fixed>ul ul.submenu-collapse {
    opacity: 1;
}

.sb-menu-fixed>ul ul li {
    margin-bottom: 6px;
}

.sb-menu-fixed>ul ul li:last-child {
    margin-bottom: 0;
}

.sb-menu-fixed>ul ul a {
    position: relative;
    padding-left: 18px;
    font-size: 14px;
    font-style: italic;
    color: #818181;
}

.sb-menu-fixed>ul ul a::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 4px;
    width: 1px;
    height: 12px;
    background-color: #d1d1d1;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sb-menu-fixed>ul ul a:hover {
    padding-left: 24px;
}

.sb-menu-fixed>ul>li>ul {
    padding: 27px 0 15px;
}

.sb-menu-fixed>ul>li>ul ul {
    padding-top: 6px;
}

.sb-menu-fixed>ul>li>ul>li ul {
    padding-left: 18px;
}

.sb-menu-fixed .overlay-dropdown-plus {
    top: -1px;
    right: -7px;
    opacity: 1;
}

.sb-menu-fixed>ul ul .overlay-dropdown-plus {
    top: -3px;
}

.sb-menu-fixed.submenu-no-separate>ul ul a::before {
    display: none !important;
}

.sb-menu-fixed.submenu-no-separate>ul ul a,
.sb-menu-fixed.submenu-no-separate>ul>li>ul>li ul {
    padding-left: 12px;
}

.sb-menu-fixed.submenu-no-separate>ul ul a:hover {
    padding-left: 18px;
}


/* ========== END ========== */


/* ========== Color scheme ========== */

.sb-fixed-sidebar.sidebar-dark,
.sidebar-dark~.sb-side-content>.logo {
    background-color: #111111;
}

.sb-fixed-sidebar.sidebar-dark .menu-social-media a {
    border-color: #fff;
    opacity: 0.2;
}

.sb-fixed-sidebar.sidebar-dark .menu-social-media a:hover {
    opacity: 1;
}

.sidebar-dark .sb-menu-fixed>ul>li>a {
    color: #fff;
}

.sidebar-dark .sb-menu-fixed>ul ul a {
    color: #a1a1a1;
}

.sidebar-dark .sb-menu-fixed>ul ul a::before {
    background-color: #515151;
}

.sidebar-dark .overlay-dropdown-plus:before,
.sidebar-dark .overlay-dropdown-plus:after {
    background-color: #717171;
}

.sb-fixed-sidebar.sidebar-color-bg,
.sidebar-color-bg~.sb-side-content>.logo {
    background-color: #006aa1;
}

.sb-fixed-sidebar.sidebar-color-bg .menu-social-media a {
    border-color: #fff;
}

.sidebar-color-bg .sb-menu-fixed>ul>li>a,
.sidebar-color-bg .sb-menu-fixed>ul ul a {
    color: #fff !important;
}

.sidebar-color-bg .sb-menu-fixed>ul ul a::before,
.sidebar-color-bg .overlay-dropdown-plus:before,
.sidebar-color-bg .overlay-dropdown-plus:after {
    background-color: #fff;
}

.sidebar-color-bg .sb-menu-fixed ul li a:hover {
    color: rgba(255, 255, 255, 0.8) !important;
}


/* ========== END ========== */


/* =============================================
Menu icons
================================================ */

.sb-menu .sb-menu-icon {
    margin-right: 5px;
    color: #a1a1a1;
}

.sb-menu ul li>a .sb-menu-icon,
.sb-menu .mega-menu-heading a .sb-menu-icon {
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.sb-menu ul li.current-menu>a .sb-menu-icon,
.sb-menu ul li:hover>a .sb-menu-icon,
.sb-menu .mega-menu-heading a:hover .sb-menu-icon {
    color: #26c6da !important;
}

.header-dark .sb-menu .sb-menu-icon {
    color: #717171;
}

.sb-menu-overlay .sb-menu-icon {
    position: relative;
    top: -2px;
    margin-right: 10px;
}

.sb-menu-overlay>ul ul li a .sb-menu-icon {
    top: -1px;
    margin-right: 7px;
}

.menu-slide .sb-menu-overlay>ul ul li a .sb-menu-icon {
    margin-right: 5px;
}

.sb-menu-fixed .sb-menu-icon {
    margin-right: 5px;
}


/* =============================================
================================================
Media queries for responsive design
================================================
================================================ */

@media (min-width: 768px) {
    .sb-header .logo {
        float: left;
        padding: 30px 40px 30px 0;
    }
    .sb-menu {
        clear: both;
    }
    .header-shadow-wrapper:after {
        -webkit-box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.1);
    }
    .sb-header-overlay .logo {
        left: 30px;
    }
    .sb-header-overlay .burger-menu {
        right: 30px;
    }
    .sb-menu-overlay>ul>li {
        padding: 0 110px 0 30px;
        margin-bottom: 16px;
    }
    .overlay-center-menu .sb-menu-overlay>ul>li {
        padding: 0 30px;
    }
    .overlay-dropdown-plus {
        width: 24px;
        height: 24px;
        line-height: 24px;
        top: 7px;
        right: 43px;
    }
    .overlay-dropdown-plus:before,
    .overlay-dropdown-plus:after {
        top: 11px;
        right: 7px;
    }
    .sb-menu-overlay>ul>li>.menu-overlay-link a {
        font-size: 34px;
    }
    .sb-menu-overlay>ul ul li a {
        font-size: 16px;
    }
    .sb-menu-overlay>ul ul li {
        margin-left: 42px;
    }
    .sb-menu-overlay>ul>li>ul>li:after {
        top: 1px;
        left: -23px;
        height: 16px;
    }
    .sb-menu-overlay>ul>li>ul {
        padding: 13px 0 16px;
    }
    .overlay-center-menu .sb-menu-overlay>ul>li>ul {
        padding: 18px 0 21px;
    }
    .overlay-center-menu .overlay-dropdown-plus {
        right: -42px;
    }
    .submenu-vertical>ul>li ul {
        right: -60px;
        padding-right: 60px !important;
    }
    .submenu-vertical>ul>li>ul li {
        margin-bottom: 7px;
    }
    .submenu-vertical>ul>li>ul ul {
        padding-top: 7px;
    }
    .submenu-vertical>ul>li>ul li .overlay-dropdown-plus {
        top: -2px;
        right: -67px;
    }
    .overlay-center-menu .submenu-vertical>ul>li>ul li .overlay-dropdown-plus {
        right: -42px;
    }
    .menu-social-media {
        bottom: 34px;
        padding: 0 110px;
    }
    .overlay-center-menu .menu-social-media {
        padding: 0 40px;
    }
    .sb-header-overlay.menu-slide .nav-menu-wrapper {
        width: 400px;
    }
    .sb-header-overlay.menu-slide .sb-menu-overlay>ul {
        padding: 140px 0 100px;
    }
    .sb-header-overlay.menu-slide .sb-menu-overlay>ul>li {
        margin-bottom: 14px;
        padding: 0 60px 0 45px;
    }
    .sb-header-overlay.menu-slide .sb-menu-overlay>ul ul li a {
        padding-left: 23px;
    }
    .sb-header-overlay.menu-slide .sb-menu-overlay.submenu-no-separate>ul ul li a {
        padding-left: 15px;
    }
    .sb-header-overlay.menu-slide .sb-menu-overlay>ul ul li a:hover {
        padding-left: 33px;
    }
    .sb-header-overlay.menu-slide .sb-menu-overlay.submenu-no-separate>ul ul li a:hover {
        padding-left: 25px;
    }
    .sb-header-overlay.menu-slide .sb-menu-overlay>ul ul li a::before {
        left: 5px;
        height: 15px;
    }
    .sb-header-overlay.menu-slide .sb-menu-overlay>ul>li>ul li {
        margin-bottom: 7px;
    }
    .sb-header-overlay.menu-slide .sb-menu-overlay>ul>li>ul {
        padding: 28px 0 16px;
    }
    .sb-header-overlay.menu-slide .sb-menu-overlay>ul>li>ul ul {
        padding-top: 7px;
        padding-left: 23px;
    }
    .sb-header-overlay.menu-slide .sb-menu-overlay>ul>li ul .overlay-dropdown-plus {
        top: -2px;
        right: -17px;
    }
    .sb-header-overlay.menu-slide .menu-social-media {
        padding: 0 45px;
    }
    .sb-menu .mega-menu-media {
        display: table;
        width: 100%;
    }
    .sb-menu .mega-menu-media-img,
    .sb-menu .mega-menu-media-info {
        display: table-cell;
        vertical-align: top;
    }
    .sb-menu .mega-menu-media-img {
        width: 120px;
    }
    .sb-menu .mega-menu-media-img .mega-menu-thumbnail {
        margin-bottom: 0;
    }
    .sb-menu .mega-menu-media-img img {
        width: 100%;
        height: auto;
    }
    .sb-menu .mega-menu-media-info {
        padding-left: 20px;
    }
    .sb-menu-overlay .sb-menu-icon {
        margin-right: 12px;
    }
    .menu-slide .sb-menu-overlay .sb-menu-icon {
        margin-right: 10px;
    }
    .sb-menu-overlay>ul ul li a .sb-menu-icon {
        margin-right: 8px;
    }
    .sb-menu-overlay.submenu-no-separate>ul ul li {
        margin-left: 25px;
    }
}

@media (min-width: 1200px) {
    /* =============================================
	Viewport Breakpoint
	================================================ */
    .sb-header-container {
        height: 90px;
    }
    .sb-header-overlay .sb-header-container {
        height: auto;
    }
    .sb-header .logo {
        position: relative;
        padding: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .sb-header .logo img {
        max-width: inherit;
        max-height: 90px;
        width: auto;
    }
    .burger-menu {
        display: none;
    }
    .sb-menu {
        float: right;
        clear: inherit;
    }
    .sb-menu>ul {
        display: block !important;
        padding: 0;
        font-size: 0;
    }
    .sb-menu>ul>li {
        display: inline-block;
    }
    .sb-menu ul li {
        position: relative;
    }
    .sb-menu>ul>li>a {
        position: relative;
        height: 90px;
        line-height: 90px;
        box-sizing: border-box;
        white-space: nowrap;
        padding: 0 20px;
    }
    .sb-menu>ul>li:last-child>a {
        padding: 0 0 0 20px;
    }
    .sb-menu.menu-hover-2>ul>li:last-child>a,
    .sb-menu.menu-hover-3>ul>li:last-child>a,
    .sb-menu.menu-hover-4>ul>li:last-child>a,
    .center-menu-1 .sb-menu>ul>li:last-child>a,
    .center-menu-2 .sb-menu>ul>li:last-child>a {
        padding: 0 20px;
    }
    .sb-menu.separate-line.menu-hover-2>ul>li:last-child>a,
    .sb-menu.separate-line.menu-hover-3>ul>li:last-child>a,
    .sb-menu.separate-line.menu-hover-4>ul>li:last-child>a,
    .center-menu-1 .sb-menu.separate-line>ul>li:last-child>a,
    .center-menu-2 .sb-menu.separate-line>ul>li:last-child>a {
        padding: 0 28px;
    }
    .sb-menu ul li.current-menu>a,
    .sb-menu ul li:hover>a,
    .header-dark .sb-menu ul li.current-menu>a,
    .header-dark .sb-menu ul li:hover>a {
        background-color: inherit;
    }
    .dropdown-plus {
        display: none;
    }
    .sb-menu ul li.dropdown_menu>a>span:before {
        border-style: solid;
        border-width: 2px 2px 0 0;
        border-color: #c1c1c1;
        position: relative;
        content: '';
        display: inline-block;
        height: 4px;
        width: 4px;
        top: -3px;
        margin-left: 8px;
        box-sizing: content-box;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    .header-dark .sb-menu ul li.dropdown_menu>a>span:before {
        border-color: #a1a1a1;
    }
    .sb-menu li>ul {
        display: block !important;
        position: absolute;
        width: 250px;
        top: 100%;
        left: 0;
        background-color: #fff;
        padding: 27px 0;
        visibility: hidden;
        opacity: 0;
        -webkit-box-shadow: 0px 12px 30px -2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 12px 30px -2px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0px 12px 30px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 12px 30px -2px rgba(0, 0, 0, 0.1);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .header-dark .sb-menu li>ul {
        background-color: #111111;
    }
    .sb-menu li:hover>ul {
        visibility: visible;
        opacity: 1;
    }
    .sb-menu li.submenu-right>ul {
        left: inherit;
        right: 0;
    }
    .sb-menu li>ul ul {
        top: -27px;
        left: 100%;
    }
    .sb-menu li.submenu-right>ul ul {
        left: -100% !important;
    }
    .sb-menu ul ul li.dropdown_menu>a>span:before {
        float: right;
        top: 7px;
        right: -10px;
        margin: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .sb-menu ul ul li>a {
        position: relative;
        color: #818181;
        padding: 9px 35px 7px !important;
    }
    .sb-menu ul ul li>a,
    .sb-menu ul ul li:hover>a {
        color: #818181;
        background-color: transparent;
    }
    .header-dark .sb-menu ul ul li>a {
        color: #a1a1a1;
        background-color: transparent;
    }
    .header-dark .sb-menu ul ul li:hover>a {
        color: #fff;
        background-color: transparent;
    }
    .header-dark .sb-menu ul ul li:hover>a .sb-menu-icon {
        color: #fff !important;
    }
    .sb-menu ul ul li:hover>a {
        padding-left: 55px !important;
    }
    .sb-menu ul ul li>a:before {
        position: absolute;
        content: "";
        top: 17px;
        left: 35px;
        width: 0;
        height: 1px;
        background: #a1a1a1;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .sb-menu ul ul li:hover>a:before {
        width: 10px;
    }
    .sb-menu ul li.dropdown_menu>a>span {
        display: none;
    }
    .sb-menu.menu-caret ul li.dropdown_menu>a>span {
        display: inline-block;
    }
    .sb-menu.menu-caret ul ul li.dropdown_menu>a>span {
        display: inline;
    }
    .sb-menu.separate-line>ul>li>a {
        position: relative;
    }
    .sb-menu.separate-line>ul>li>a:before {
        position: absolute;
        content: "";
        top: 50%;
        right: 0;
        width: 1px;
        height: 20px;
        background: #eeeeee;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .header-dark .sb-menu.separate-line>ul>li>a:before {
        background: #333333;
    }
    .sb-menu.separate-line>ul>li:last-child>a:before {
        display: none;
    }
    .sb-menu.separate-line>ul>li>a {
        padding: 0 28px;
    }
    .sb-menu.separate-line>ul>li:last-child>a {
        padding: 0 0 0 28px;
    }
    /* =============================================
	Header sticky
	================================================ */
    .sb-header.sticky {
        position: fixed;
        width: 100%;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: stickyTransition;
        animation-name: stickyTransition;
    }
    .sb-header.sticky .sb-header-container {
        height: 70px;
    }
    .sb-header.sticky .sb-menu>ul>li>a {
        height: 70px;
        line-height: 70px;
    }
    .sb-header.sticky .logo {
        padding: 0 40px 0 0;
    }
    .sb-header.center-menu-1.sticky .logo {
        padding: 0;
    }
    .sb-header.sticky .logo img {
        max-height: 70px;
    }
    @-webkit-keyframes stickyTransition {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    @keyframes stickyTransition {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    /* =============================================
	Center menu
	================================================ */
    .sb-header.center-menu-1 {
        position: relative;
    }
    .sb-header.center-menu-1.sticky {
        position: fixed;
    }
    .sb-header.center-menu-1 .sb-header-container>.logo {
        display: none;
    }
    .logoCenter {
        text-align: center;
        display: table-cell !important;
        vertical-align: middle;
    }
    .sb-header.center-menu-1 .logoCenter .logo {
        float: none;
        top: 0;
        width: inherit;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .center-menu-1 .sb-menu {
        display: table !important;
        float: none;
        width: 100%;
    }
    .center-menu-1 .sb-menu>ul {
        display: table-cell !important;
        vertical-align: top;
    }
    .center-menu-1 .sb-menu>ul:first-child {
        text-align: right;
        padding: 0 40px;
    }
    .center-menu-1 .sb-menu>ul:first-child ul {
        text-align: left;
    }
    .center-menu-1 .sb-menu>ul:last-child {
        text-align: left;
        padding: 0 40px;
    }
    .sb-header.center-menu-2 .sb-header-container {
        height: auto;
    }
    .sb-header.center-menu-2 .logo {
        float: none;
        top: 0;
        padding: 36px 30px;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .sb-header.center-menu-2 .logo img {
        max-width: 100%;
        max-height: inherit;
        height: auto;
    }
    .center-menu-2 .sb-menu {
        float: none;
        text-align: center;
        border-top: 1px solid #e9e9e9;
    }
    .center-menu-2.header-dark .sb-menu {
        border-color: #333333;
    }
    .center-menu-2 .sb-menu li>ul {
        text-align: left;
    }
    .center-menu-2 .sb-menu>ul>li>a {
        height: 62px;
        line-height: 62px;
    }
    .sb-header.center-menu-2.sticky .logo {
        display: none;
    }
    .sb-header.center-menu-2.sticky .sb-menu {
        border: none;
    }
    /* =============================================
	Header transparent
	================================================ */
    .header-transparent-on .header-shadow-wrapper,
    .header-opacity-on .header-shadow-wrapper {
        display: none;
    }
    .sb-header.header-transparent-on,
    .sb-header.header-opacity-on {
        position: absolute;
        width: 100%;
        background-color: transparent;
    }
    .sb-header.header-opacity-on {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .header-transparent-on .sb-menu>ul>li>a,
    .header-opacity-on .sb-menu>ul>li>a {
        color: #f7f7f7;
    }
    .header-transparent-on .sb-menu>ul>li:hover>a,
    .header-transparent-on .sb-menu>ul>li.current-menu>a,
    .header-opacity-on .sb-menu>ul>li:hover>a,
    .header-opacity-on .sb-menu>ul>li.current-menu>a {
        color: #26c6da;
    }
    .header-transparent-on .sb-menu>ul>li.dropdown_menu>a>span:before,
    .header-opacity-on .sb-menu>ul>li.dropdown_menu>a>span:before {
        border-color: #f7f7f7;
    }
    .header-transparent-on.center-menu-2 .sb-menu {
        border-color: rgba(255, 255, 255, 0.25);
    }
    .header-opacity-on.center-menu-2 .sb-menu {
        border-color: rgba(255, 255, 255, 0.2);
    }
    .header-transparent-on .sb-menu.separate-line>ul>li>a:before {
        background: rgba(255, 255, 255, 0.25);
    }
    .header-opacity-on .sb-menu.separate-line>ul>li>a:before {
        background: rgba(255, 255, 255, 0.2);
    }
    .header-transparent-on .sb-menu>ul>li>a .sb-menu-icon,
    .header-opacity-on .sb-menu>ul>li>a .sb-menu-icon {
        color: rgba(255, 255, 255, 0.85);
    }
    /* =============================================
	Hover transitions
	================================================ */
    .sb-menu.menu-hover-2>ul>li.current-menu>a,
    .sb-menu.menu-hover-2>ul>li:hover>a {
        background-color: #f8f8f8;
        color: #212121;
    }
    .sb-menu.menu-hover-2>ul>li>a:after,
    .sb-menu.menu-hover-3>ul>li>a:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 3px;
        background: #26c6da;
        opacity: 0;
        z-index: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .sb-menu.menu-hover-2>ul>li.current-menu>a:after,
    .sb-menu.menu-hover-2>ul>li:hover>a:after {
        opacity: 1;
    }
    .sb-menu.menu-hover-3>ul>li.current-menu>a,
    .sb-menu.menu-hover-3>ul>li:hover>a {
        color: #212121;
    }
    .sb-menu.menu-hover-3>ul>li>a:after {
        width: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .sb-menu.menu-hover-3>ul>li.current-menu>a:after,
    .sb-menu.menu-hover-3>ul>li:hover>a:after {
        width: 100%;
        opacity: 1;
    }
    .sb-menu.menu-hover-4>ul>li>a>.hover-transition {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
    }
    .sb-menu.menu-hover-4>ul>li>a>.hover-transition:after {
        display: block;
        position: relative;
        content: "";
        width: calc(100% + 2px);
        height: 0;
        top: 50%;
        left: 50%;
        background: #26c6da;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .sb-menu.menu-hover-4>ul>li.current-menu>a>.hover-transition:after,
    .sb-menu.menu-hover-4>ul>li:hover>a>.hover-transition:after {
        opacity: 1;
        height: 100%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .sb-menu.menu-hover-4>ul>li>ul {
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }
    .sb-menu.menu-hover-4>ul>li:hover>ul {
        -webkit-transition-delay: 0.13s;
        -moz-transition-delay: 0.13s;
        -o-transition-delay: 0.13s;
        transition-delay: 0.13s;
    }
    .sb-menu.menu-hover-4>ul>li.current-menu>a,
    .sb-menu.menu-hover-4>ul>li:hover>a {
        color: #fff;
    }
    .sb-menu.menu-hover-4>ul>li.current-menu.dropdown_menu>a>span:before,
    .sb-menu.menu-hover-4>ul>li.dropdown_menu:hover>a>span:before {
        border-color: #fff;
    }
    .header-dark .sb-menu.menu-hover-2>ul>li.current-menu>a,
    .header-dark .sb-menu.menu-hover-2>ul>li:hover>a {
        background-color: #222222;
        color: #fff;
    }
    .header-dark .sb-menu.menu-hover-3>ul>li.current-menu>a,
    .header-dark .sb-menu.menu-hover-3>ul>li:hover>a {
        color: #fff;
    }
    .header-transparent-on .sb-menu.menu-hover-2>ul>li.current-menu>a,
    .header-transparent-on .sb-menu.menu-hover-2>ul>li:hover>a {
        background-color: rgba(255, 255, 255, 0.25);
        color: #f7f7f7;
    }
    .header-opacity-on .sb-menu.menu-hover-2>ul>li.current-menu>a,
    .header-opacity-on .sb-menu.menu-hover-2>ul>li:hover>a {
        background-color: rgba(255, 255, 255, 0.2);
        color: #f7f7f7;
    }
    .header-transparent-on .sb-menu.menu-hover-3>ul>li.current-menu>a,
    .header-transparent-on .sb-menu.menu-hover-3>ul>li:hover>a,
    .header-opacity-on .sb-menu.menu-hover-3>ul>li.current-menu>a,
    .header-opacity-on .sb-menu.menu-hover-3>ul>li:hover>a {
        color: #f7f7f7;
    }
    .sb-menu.menu-hover-4>ul>li.current-menu>a .sb-menu-icon,
    .sb-menu.menu-hover-4>ul>li:hover>a .sb-menu-icon {
        color: #fff !important;
    }
    .header-transparent-on .sb-menu.menu-hover-2>ul>li.current-menu>a .sb-menu-icon,
    .header-transparent-on .sb-menu.menu-hover-2>ul>li:hover>a .sb-menu-icon,
    .header-opacity-on .sb-menu.menu-hover-2>ul>li.current-menu>a .sb-menu-icon,
    .header-opacity-on .sb-menu.menu-hover-2>ul>li:hover>a .sb-menu-icon,
    .header-transparent-on .sb-menu.menu-hover-3>ul>li.current-menu>a .sb-menu-icon,
    .header-transparent-on .sb-menu.menu-hover-3>ul>li:hover>a .sb-menu-icon,
    .header-opacity-on .sb-menu.menu-hover-3>ul>li.current-menu>a .sb-menu-icon,
    .header-opacity-on .sb-menu.menu-hover-3>ul>li:hover>a .sb-menu-icon {
        color: rgba(255, 255, 255, 0.85) !important;
    }
    /* =============================================
	Submenu
	================================================ */
    .sb-menu.submenu-top-border li>ul {
        border-top: 3px solid #26c6da;
    }
    .sb-menu.submenu-top-border li>ul ul {
        top: -30px;
    }
    .sb-menu.submenu-list-border li>ul ul {
        top: -20px;
    }
    .sb-menu.submenu-top-border.submenu-list-border li>ul ul {
        top: -23px;
    }
    .sb-menu.submenu-list-border ul ul li>a {
        padding: 15px 35px 14px !important;
    }
    .sb-menu.submenu-list-border ul ul li:first-child>a {
        padding: 8px 35px 14px 35px !important;
    }
    .sb-menu.submenu-list-border ul ul li:last-child>a {
        padding: 15px 35px 8px 35px !important;
    }
    .sb-menu.submenu-list-border ul ul li:after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 35px;
        right: 35px;
        height: 1px;
        background: #eeeeee;
    }
    .sb-menu.submenu-list-border ul ul li:last-child:after {
        display: none;
    }
    .sb-menu.submenu-list-border ul ul li:hover>a {
        padding-left: 55px !important;
    }
    .sb-menu.submenu-list-border ul ul li:nth-child(n+2)>a:before {
        top: 24px;
    }
    .header-dark .sb-menu.submenu-list-border ul ul li:after {
        background: #333333;
    }
    /* =============================================
	Submenu transitions
	================================================ */
    .sb-menu.submenu-flip li>ul {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        -o-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .sb-menu.submenu-flip li:hover>ul {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    .sb-menu.submenu-flip ul {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 200px;
        -ms-perspective: 200px;
        perspective: 200px;
    }
    .sb-menu.submenu-flip ul li {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 200px;
        -ms-perspective: 200px;
        perspective: 200px;
    }
    .sb-menu.submenu-scale li>ul {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    .sb-menu.submenu-scale li.submenu-right ul {
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }
    .sb-menu.submenu-scale li:hover>ul {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    /* =============================================
	Menu overlay
	================================================ */
    .sb-header-overlay .logo {
        top: 50px;
        left: 40px;
    }
    .sb-header-overlay .burger-menu {
        top: 40px;
        right: 40px;
    }
    .sb-menu-overlay>ul>li {
        padding: 0 130px 0 40px;
    }
    .overlay-center-menu .sb-menu-overlay>ul>li {
        padding: 0 40px;
    }
    .overlay-dropdown-plus {
        right: 53px;
    }
    .submenu-vertical>ul>li ul {
        right: -70px;
        padding-right: 70px !important;
    }
    .submenu-vertical>ul>li>ul li .overlay-dropdown-plus {
        right: -77px;
    }
    .sb-header-overlay.menu-slide .sb-menu-overlay>ul>li ul .overlay-dropdown-plus {
        right: -7px;
    }
    .menu-social-media {
        padding: 0 130px;
    }
    /* =============================================
	Mega menu
	================================================ */
    .sb-mega-menu.mega-menu-fullwidth .sb-header-container {
        position: inherit;
    }
    .sb-mega-menu .sb-header-container,
    .sb-mega-menu.mega-menu-fullwidth {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 200px;
        -ms-perspective: 200px;
        perspective: 200px;
    }
    .sb-menu .mega-menu-container {
        padding: 15px 15px 0;
    }
    .sb-mega-menu .sb-menu.submenu-flip>ul,
    .sb-mega-menu .sb-menu.submenu-flip ul li.mega-menu,
    .sb-mega-menu.mega-menu-fullwidth .sb-header-container {
        -webkit-transform-style: unset;
        transform-style: unset;
        -webkit-perspective: none;
        -ms-perspective: none;
        perspective: none;
    }
    .sb-menu.submenu-flip .mega-menu>ul {
        -webkit-perspective: inherit;
        -ms-perspective: inherit;
        perspective: inherit;
    }
    .sb-menu.submenu-scale li.mega-menu ul,
    .sb-menu.submenu-scale li.mega-menu.submenu-right ul {
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    .sb-menu.submenu-scale .mega-menu-container li>ul {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .sb-menu.submenu-flip .mega-menu-container li>ul {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    .sb-menu ul li.mega-menu {
        position: inherit;
        font-size: initial;
    }
    .sb-menu li.mega-menu>ul {
        width: 100%;
        padding: 25px 20px 15px;
    }
    .sb-menu li.mega-menu:hover .mega-menu-container li>ul {
        visibility: visible;
        opacity: 1;
    }
    .sb-menu .mega-menu-container li ul,
    .sb-menu.submenu-top-border .mega-menu-container li ul,
    .sb-menu.submenu-list-border .mega-menu-container li ul {
        position: relative;
        top: 0 !important;
        left: inherit;
        width: 100%;
        border-top: none;
        padding: 0;
        -webkit-box-shadow: inherit;
        -moz-box-shadow: inherit;
        -o-box-shadow: inherit;
        box-shadow: inherit;
    }
    .sb-menu.menu-caret .mega-menu-container li.dropdown_menu>a>span,
    .sb-menu .mega-menu-container ul li>a:before,
    .sb-menu.submenu-list-border .mega-menu-container ul li:after {
        display: none;
    }
    .sb-menu li.mega-menu.submenu-right>ul ul {
        left: inherit !important;
    }
    .sb-menu .mega-menu-container ul li a,
    .sb-menu .mega-menu-container ul li:hover a,
    .sb-menu.submenu-list-border .mega-menu-container ul li a,
    .sb-menu.submenu-list-border .mega-menu-container ul li:hover a,
    .sb-menu.submenu-list-border .mega-menu-container ul li:first-child a,
    .sb-menu.submenu-list-border .mega-menu-container ul li:first-child:hover a,
    .sb-menu.submenu-list-border .mega-menu-container ul li:last-child a,
    .sb-menu.submenu-list-border .mega-menu-container ul li:last-child:hover a {
        padding: inherit !important;
    }
    .sb-menu .mega-menu-container ul.mega-menu-list li a,
    .sb-menu .mega-menu-container ul.mega-menu-list li:hover a,
    .sb-menu.submenu-list-border .mega-menu-container ul.mega-menu-list li a,
    .sb-menu.submenu-list-border .mega-menu-container ul.mega-menu-list li:hover a {
        padding: 5px 0 !important;
        color: #818181;
    }
    .sb-menu .mega-menu-container ul.mega-menu-list li a:hover,
    .sb-menu.submenu-list-border .mega-menu-container ul.mega-menu-list li a:hover {
        padding-left: 20px !important;
    }
    .sb-menu .mega-menu-container ul.mega-menu-list li>a:before {
        display: block;
        left: 0;
        top: 13px !important;
    }
    .header-dark .sb-menu .mega-menu-container ul.mega-menu-list li a {
        color: #a1a1a1;
    }
    .header-dark .sb-menu .mega-menu-container ul.mega-menu-list li a:hover {
        color: #fff;
    }
    /* =============================================
	Fixed sidebar menu
	================================================ */
    .sb-fixed-sidebar {
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s;
    }
    .sb-side-content>.logo,
    .sb-fixed-sidebar+.burger-menu,
    .fixedsidebar-bg-overlay {
        display: none;
    }
    .sb-fixed-sidebar .logo {
        display: block;
    }
    .sb-side-content {
        width: calc(100% - 250px);
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s;
        -webkit-transform: translateX(0%) !important;
        -moz-transform: translateX(0%) !important;
        -o-transform: translateX(0%) !important;
        transform: translateX(0%) !important;
    }
    .sb-sidebar-left~.fixedsidebar-bg-overlay+.sb-side-content {
        margin-left: auto;
    }
    .sb-sidebar-right~.fixedsidebar-bg-overlay+.sb-side-content {
        margin-right: auto;
    }
    .sb-sidebar-left,
    .sb-sidebar-right {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
    .sb-menu-fixed {
        padding-top: 0;
    }
}